.input-group-text {
    background-color: transparent; /* Fond transparent pour l'icône */
    border: none; /* Pas de bordure */
}
.input-password {
    position: relative;
}
.input-password img {
    width: 20px; /* Taille de l'icône */
    height: 20px; /* Ajustement automatique de la hauteur */
    position: absolute;
    right: 10px; /* Positionnement à gauche */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Ajustement pour centrer */
}
.input-password input {
    padding-left: 30px; /* Espace pour l'icône */
}
