<div class="container">
    <div class="fond" style="margin-top: 80px;" >
        <div class="row d-flex justify-content-center ">
            <div class="col-12  col-md-6 col-lg-4  p-4 d-flex justify-content-center">
                <form [formGroup]="newForm" class="row g-3 cont">
                    <label for="pseudo" class="for-label"> <h4 class="fw-bold text-center text-uppercase" style="color : red" >Réinitialisation</h4> </label>
                    <span class="fs-8" ><em>*</em> Laissez vide si vous ne voulez pas modifier</span>
                    <span>Nouveau pseudo </span> <span class="text-black " >{{erreur}} </span>
                    <input type="text" autocomplete="off" formControlName="pseudo" class="form-control mt-1 mb-3 p-1" id="pseudo" placeholder="Votre Pseudo ">
                    <span>Nouveau mot de passe </span>
                    <div class="input-container"> <br>
                        <input type="{{ passwordVisible ? 'text' : 'password' }}" autocomplete="off" class="form-control mt-1 mb-3 p-1" formControlName="password" id="password" placeholder="Votre mot de passe ">                                                        
                        <button type="button" style="width: 40px;" (click)="togglePasswordVisibility()">
                          <i class="fa"  [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                      </div>
                      <div *ngIf="usernameControl.hasError('pattern')"> <span class="text-black" >Le mot de passe doit contenir au-moins 8 caractères, une majuscule et des caractères spéciaux tel que . , ! ? # @ _</span></div>
                    <div class=" d-flex justify-content-center">
                        <button type="submit" (click)="onSubmit()" class="btn btn-danger bouton_blanc mt-3 mb-3 " [disabled]="newForm.invalid" style=" background-color: #F31111; "><strong> Enregistrer</strong> </button> <br>
                    </div>
                </form>
            </div> 
        </div>
    </div>
</div>