<section  style="margin-top: 95px;">
    @if (admi ==='1') 
    {
        <div class="container">
            <h3 class="fw-bold text-center" > <br> Vous procedez à un abonnement <br></h3> <br>
              <div class="form-container d-flex justify-content-center" style="background-color: aliceblue;">
                <div class="col-10 mx-0 mx-md-2 mx-lg-0 col-md-3 py-4">
                  <input class="form-control me-2" type="search"  
                  [(ngModel)]="recherches" 
                  placeholder="Rechercher" aria-label="Search">
                </div>
              </div>
              <mat-card class="scrollable-card">
                <div class="scrollable-content">
                    <section class="container" style="margin-top: 30px ;">
                        <table class="table" >
                            <thead >
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Pseudo</th>
                                <th scope="col">Formation</th>
                                <th scope="col">Abonner</th>
                            </tr>
                            </thead>
                            <tbody>
                                @for (nom of nomsFiltres; track $index) 
                                {
                                    <tr [formGroup]="mailForm">
                                        <td>{{$index+1}} </td>
                                        <td class="fw-bold" > {{nom}} </td>
                                        <td class="fw-bold"> 
                                          <select formControlName="titre_repertoire" id="titre_repertoire" class="mx-3">
                                          <option> </option>
                                          @for (option of titre; track $index) 
                                          {
                                            <option>{{ option }}</option>
                                          }
                                          </select>    
                                       </td>
                                       <td style="cursor: pointer;">         
                                          <button type="submit" (click)="Submit(nom)" class="btn btn-primary fw-bold text-black btn_connexion">Abonner</button>
                                       </td>
                                      </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
              </mat-card>
          </div>
    }
</section>
@if (admi !='1') 
{
    <h2 class="fw-bold text-center" > <br> Vous n'êtes pas habilité<br></h2>
    <div class="container ">
      <div class="row">
        <div class="col-10 col-md-3 offset-1 offset-md-2 p-2 d-flex justify-content-center"> 
          <p class="fs-6 que_faisons_nous text-black"> <br> Veuillez-vous connecter !</p>
      </div>  
      <div class="col-10 col-md-4 offset-1 offset-md-1 d-flex justify-content-center" >
          <br>
          <button type="button" (click)="onConnect()" class="btn btn-danger jello-horizontal bouton_blanc btn-lg mt-3 mb-3 "  style=" background-color: #F31111; "><strong> Connexion</strong> </button> <br> 
      </div>        
      </div>  
    </div> 
}