<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css"> 

<div class="container" >
    <div class="row">
        <div class="mt-5 text-center">               
            <p class="text-center texte couleur_titre display-4 fw-bold" style="color: orange;" >Envie de prendre Rendez-vous ? </p>
        </div>
        <div class="col-9 col-md-6 offset-1 offset-md-3 ">                   
            <p class="p-3 pt-3 text-black text-center text fs-6 que_faisons_nous">
              <br>
              Transformez votre rêve d’études en France en réalité ! <br>
              Besoin d'aide pour <span class="fw-bold" style="color: #1283EB;" >Campus France, Visa France, logement ou job étudiant</span> ? <br> 
              Réservez votre consultation sur-mesure et boostez vos chances de succès !
            </p>  
        </div>
    </div>
    <div class="mt-3 text-center">               
      <p class="text-center texte couleur_titre display-4 fw-bold mt-5" style="color: orange;" >Fixez un Rendez-vous : </p>
    </div>
    <div class="form-container">
      <form class="container my-3" [formGroup]="rdvForm" style="background-color: black;">
        <div class="row">
          <h2 class="text-white text-center roboto-black fw-bold" > Entrez vos informations : </h2>
          <div class="col-10 mx-0 mx-md-2 mx-lg-0 col-md-3 py-4">
            <input type="text" autocomplete="off" formControlName="nom" id="nom" class="py-2 " placeholder="Votre pseudo" >
          </div>
          <div class="col-10 mx-0 mx-md-2 mx-lg-0 col-md-3 py-4">
            <input type="email" autocomplete="off" formControlName="email" id="email" class="py-2 " placeholder="Votre adresse mail" >
          </div>
          <div class="col-10 mx-0 mx-md-2 mx-lg-0 col-md-3 py-4 d-flex" [formGroup]="phoneForm" >
            <select formControlName="selectedCode" class="py-2 select " id="country-code" style="width: 75px;">
                <option *ngFor="let country of countryCodes" [value]="country.code">
                  {{ country.flag }} {{ country.code }} - {{ country.country }}
                </option>
            </select>   
            <input type="tel" autocomplete="off" class="py-2 " formControlName="phoneNumber" id="telephone" placeholder="Votre numero de téléphone">     
          </div>
          <div class="col-10 col-md-3 mx-0 mx-md-2 mx-lg-0 py-2 ">
            <label class="mb-2 text-white">Objet du RDV</label>
              <select formControlName="type" [(ngModel)]="selectedOption" class="form-select" aria-label="Default select example" id="rdvType" (change)="onTypeChange($event)">
                <option *ngFor="let rdv of rendezVousTypes" [value]="rdv.type">
                  {{ rdv.type | titlecase }}
                </option>
              </select>
          </div>
        </div>
      </form>
    </div>
</div>
<div class="mt-3 mb-4 bg-image img-fluid" style="width: 100%; height: 130vh; background-image: url('/assets/RDV.jpg'); background-size: 100% 100% ; background-attachment: fixed;  background-repeat :no-repeat; ">
  <div class="container text-white ">    
    <div [ngSwitch]="selectedOption">
      <!--Visa-->
      <div *ngSwitchCase="'Visa'">
        <div class="row d-flex justify-content-center mt-5 ">
          <p class="texte text-center fw-bold fs-3 mt-2 mb-2 mt-md-4 mb-md-5 " style="color: black;" > <span style="background-color: white;">Nos tarifs :</span> </p>
          <div class="col-4" *ngIf="selectedTarif2 !== null">
            <button class="btn shadow-lg rounded text_white fw-bold" > <span style="color: red;" >30 min : {{ selectedTarif }} € </span></button>
          </div>
          <div class="col-4 col-md-3 offset-0 offset-md-1" *ngIf="selectedTarif1 !== null">
            <button class="btn shadow-lg rounded text_white fw-bold "> <span style="color: red;" >1 heure : {{ selectedTarif1 }} € </span></button>
          </div>
          <div class="col-4 col-md-2 offset-0 offset-md-2" *ngIf="selectedTarif2 !== null">
            <button class="btn shadow-lg rounded text_white fw-bold " > <span style="color: red;" >1h30 min : {{ selectedTarif2 }} € </span></button>
          </div>
        </div>
        <div class="row">
          <!--Calendrier-->
          <p class="fs-5 text-center mt-5 fw-bold" style="background-color: white; color: black;"  >
            Vérification complète de votre dossier, conseils avant le dépôt, stratégies en cas de refus, et options de recours adaptées à votre situation.
          </p>
          <div class="col-12 col-md-6 offset-md-0 text-center">
            <mat-card class="demo-inline-calendar-card" style="margin-top: 100px;" >
              <mat-calendar [dateFilter]="dateFilter" #releasedAtPicker color="accent" #calendar style="color: red;" [(selected)]="selected">
                <mat-calendar-header class="text-white" style="background-color: red;"></mat-calendar-header>
              </mat-calendar>
            </mat-card>
          </div>
          <!--Bouton-->
          <div class="col-12 col-md-3 offset-0 offset-md-2 mb-5 mt-5" >
            <p class="text-center mt-5 "> <br> <br>
              <button class="btn shadow-lg rounded m-0 m-md-5 text-center text-white fw-bold" (click)="onButtonClick(1,30,69 )" [class.selected-button]="selectedButtonId === 1" style="background-color: red;"> <span class="" >30 min </span></button>
              <button class="btn shadow-lg rounded m-0 m-md-5 text-center text-white fw-bold" (click)="onButtonClick(2, 60,99)" [class.selected-button]="selectedButtonId === 2" style="background-color: red;" > <span class="text-time" >1 heure </span></button> 
              <button class="btn shadow-lg rounded m-0 m-md-5 text-center text-white fw-bold" (click)="onButtonClick(3, 90,149 )" [class.selected-button]="selectedButtonId === 3" style="background-color: red;" > <span class="text-time" >1h30 min </span></button> 
            </p>
          </div>
        </div>
          <!--Fin-->
      </div>
      <!--Accompagnement Campus France-->
      <div *ngSwitchCase="'Accompagnement Campus France'">
        <div class="row d-flex justify-content-center mt-5 ">
          <p class="texte text-center fw-bold fs-3 mt-2 mb-2 mt-md-4 mb-md-5 " style="color: black;" > <span style="background-color: white;">Nos tarifs :</span> </p>
          <div class="col-4">
            <button class="btn shadow-lg rounded text_white fw-bold" > <span style="color: red;" >Service standard : {{ selectedTarif }} € </span></button>
          </div>
          <div class="col-4 col-md-3 offset-0 offset-md-1">
            <button class="btn shadow-lg rounded text_white fw-bold "> <span style="color: red;" >Service premium : {{ selectedTarif1 }} € </span></button>
          </div>
        </div>
        <div class="row">
          <!--Calendrier-->
        <p class="fs-5 text-center mt-5 fw-bold" style="background-color: white; color: black;" >
          Accompagnement pour préparer un dossier solide, élaborer un CV percutant et une lettre de motivation convaincante, choisir les formations adéquates,
           se préparer efficacement à l'entretien, etc.
        </p>
        <div class="col-12 col-md-6 offset-md-0 text-center">
            <mat-card class="demo-inline-calendar-card" style="margin-top: 70px;" >
              <mat-calendar [dateFilter]="dateFilter" #releasedAtPicker color="accent" #calendar style="color: red;" [(selected)]="selected">
                <mat-calendar-header class="text-white" style="background-color: red;"></mat-calendar-header>
              </mat-calendar>
            </mat-card>
        </div>
        <!--Bouton-->
        <div class="col-12 col-md-3 offset-0 offset-md-2 mb-5" >
          <p class="text-center mt-5 "> <br> <br>
            <button class="btn shadow-lg rounded my-2 m-md-5 text-center text-white fw-bold" (click)="onButtonClick(2, 60,249)" [class.selected-button]="selectedButtonId === 2" style="background-color: red;" > <span class="text-time" >Service standard : {{ selectedTarif }} € </span></button> 
            <button class="btn shadow-lg rounded my-2 m-md-5 text-center text-white fw-bold" (click)="onButtonClick(3, 60,499 )" [class.selected-button]="selectedButtonId === 3" style="background-color: red;" > <span class="text-time" >Service premium : {{ selectedTarif1 }} € </span></button> 
          </p>
        </div>
        <!--Fin-->
        </div>
      </div>
      <!--Entretien Campus France-->
      <div *ngSwitchCase="'Entretien Campus France'">
        <div class="row d-flex justify-content-center mt-5 ">
          <p class="texte text-center fw-bold fs-3 mt-2 mb-2 mt-md-4 mb-md-5 " style="color: black;" > <span style="background-color: white;">Nos tarifs :</span> </p>
          <div class="col-4">
            <button class="btn shadow-lg rounded text_white fw-bold" > <span style="color: red;" >30 min : {{ selectedTarif }} € </span></button>
          </div>
          <div class="col-4 col-md-3 offset-0 offset-md-1">
            <button class="btn shadow-lg rounded text_white fw-bold "> <span style="color: red;" >1 heure : {{ selectedTarif1 }} € </span></button>
          </div>
        </div>
        <div class="row">
         <!--Calendrier-->
          <p class="fs-5 text-center mt-5 fw-bold" style="background-color: white; color: black;" >
            Coaching personnalisé pour maîtriser les questions clés, affiner vos réponses et vous préparer à réussir votre entretien Campus France.
          </p>
          <div class="col-12 col-md-6 offset-md-0 text-center">
            <mat-card class="demo-inline-calendar-card" style="margin-top: 100px;" >
              <mat-calendar [dateFilter]="dateFilter" #releasedAtPicker color="accent" #calendar style="color: red;" [(selected)]="selected">
                <mat-calendar-header class="text-white" style="background-color: red;"></mat-calendar-header>
              </mat-calendar>
            </mat-card>
          </div>
         <!--Bouton-->
          <div class="col-12 col-md-3 offset-0 offset-md-2 mb-5 mt-5" >
            <p class="text-center mt-5 "> <br> <br>
              <button class="btn shadow-lg rounded m-0 m-md-5 text-center text-white fw-bold" (click)="onButtonClick(1,30,29)" [class.selected-button]="selectedButtonId === 1" style="background-color: red;"> <span class="" >30 min </span></button>
              <button class="btn shadow-lg rounded m-0 m-md-5 text-center text-white fw-bold" (click)="onButtonClick(2, 60,49)" [class.selected-button]="selectedButtonId === 2" style="background-color: red;" > <span class="text-time" >1 heure </span></button> 
            </p>
          </div>
        </div>
        <!--Fin-->
      </div>
      <!--Recherche de logement-->
      <div *ngSwitchCase="'Recherche de logement'" rdvForm.value.prix=299>
        <div class="row d-flex justify-content-center mt-5 ">
          <p class="texte text-center fw-bold fs-3 mt-2 mb-2 mt-md-4 mb-md-5 " style="color: black;" > <span style="background-color: white;">Nos tarifs :</span> </p>
          <div class="d-flex justify-content-center"> 
            <button class="btn shadow-lg rounded text_white fw-bold" > <span style="color: red;" >à partir de {{ selectedTarif }} € </span></button>
          </div>
        </div>
        <div class="row">
           <!--Calendrier-->
            <p class="fs-5 text-center mt-5 fw-bold" style="background-color: white; color: black;" >
              Aide à la recherche de logements étudiants adaptés à votre budget, vérification du contrat et conseils pour éviter les arnaques.      
            </p>
           <div class="col-12 col-md-6 offset-0 offset-md-3 text-center">
             <mat-card class="demo-inline-calendar-card" style="margin-top: 100px;" >
               <mat-calendar [dateFilter]="dateFilter" #releasedAtPicker color="accent" #calendar style="color: red;" [(selected)]="selected">
                 <mat-calendar-header class="text-white" style="background-color: red;"></mat-calendar-header>
               </mat-calendar>
             </mat-card>
           </div>
        </div>
         <!--Fin-->
      </div>
      <!--Recherche de Job étudiant-->
      <div *ngSwitchCase="'Recheche de Job étudiant'" >
        <div class="row d-flex justify-content-center mt-5 ">
          <p class="texte text-center fw-bold fs-3 mt-2 mb-2 mt-md-4 mb-md-5 " style="color: black;" > <span style="background-color: white;">Nos tarifs :</span> </p>
          <div class="d-flex justify-content-center"> 
            <button class="btn shadow-lg rounded text_white fw-bold" > <span style="color: red;" > {{ selectedTarif }} € </span></button>
          </div>
        </div>
        <div class="row">
          <!--Calendrier-->
          <p class="fs-5 text-center mt-5 fw-bold" style="background-color: white; color: black;" >
            Accompagnement pour la recherche de job étudiant, préparation du CV et des entretiens, et conseils pour obtenir rapidement un emploi.          </p>
          <div class="col-12 col-md-6 offset-0 offset-md-3 text-center">
            <mat-card class="demo-inline-calendar-card" style="margin-top: 100px;" >
              <mat-calendar [dateFilter]="dateFilter" #releasedAtPicker color="accent" #calendar style="color: red;" [(selected)]="selected">
                <mat-calendar-header class="text-white" style="background-color: red;"></mat-calendar-header>
              </mat-calendar>
            </mat-card>
          </div>
       </div>
       <!--Fin-->
      </div>
      <!--Défaut-->
      <div *ngSwitchDefault>
        <div class="row">
          <!--Calendrier-->
          <div class="col-12 col-md-6 offset-0 offset-md-3 text-center">
            <mat-card class="demo-inline-calendar-card" style="margin-top: 100px; color: white;" >
              <mat-calendar [dateFilter]="dateFilter" #releasedAtPicker color="accent" #calendar [(selected)]="selected">
                <mat-calendar-header></mat-calendar-header>
              </mat-calendar>
            </mat-card>
          </div>
       </div>
       <!--Fin-->
      </div>
    </div>

  </div>
</div>

<div class="row d-flex justify-content-center mt-5 "> <br><br><br>
  <p class="text-center">
      <button type="button" (click)="creneauDispo()" [disabled]="rdvForm.invalid" class="btn btn-danger text-center rouge btn-lg btn_coaching text-black" style="background-color: white;"> <strong>Suivant</strong> </button>
  </p>
</div>
<div> 
  <div class="row" *ngIf="admin ==='1'">
    <div class="col-2 m-5">
      <button (click)="listeReservation()" title="Valider les réservations" class="btn shadow-lg rounded" >
        <span class="material-icons" style="font-size: 80px; color: red; " >
          rule
        </span>
      </button>
    </div>
    <div class="col-2 m-5">
      <button (click)="entrerCreneau()" title="Mettre à jour mes horaires" class="btn shadow-lg rounded" >
        <span class="material-icons" style="font-size: 80px; color: red; ">
          update
        </span>
      </button>
    </div>
    <div class="col-2 m-5">
      <button (click)="mesRdv()" title="Consulter mes Rendez-vous" class="btn shadow-lg rounded" >
        <span class="material-icons" style="font-size: 80px; color: red; ">
          list
        </span>
      </button>
    </div>
  </div>
</div>

<!--
    <div class="col-10 mx-0 mx-md-2 mx-lg-0 col-md-3 py-4">
            <input type="tel" autocomplete="off" class="py-2 " formControlName="telephone" id="telephone" placeholder="Votre numero de téléphone" >
    </div>
-->