iframe
{
    width: 100%;
    height: 350px;
}

.circle-container 
{
  width: 50px; /* Définissez la largeur de votre cercle */
  height: 50px; /* Définissez la hauteur de votre cercle */
  background-color: #1052A9; /* Couleur de fond du cercle */
  border-radius: 50%; /* Rendre le conteneur circulaire */
  display: flex; /* Pour centrer l'image */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  overflow: hidden; /* Masque la partie débordante de l'image */
}