<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Inknut+Antiqua:wght@300&family=Jacques+Francois+Shadow&family=Kavoon&family=Kelly+Slab&family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<div class="container sti">
<div class="row" style="margin-top: 80px;">
    <div class="col-10 offset-2">
        <p  class=" citation ">
            “Construisez vos propres reves, ou quelqu’un d’autre va vous        
            embaucher <br>pour construire les siens ”<br>
         
        </p>
    </div>
    <div class="col-7 offset-5">
        <p class=" auteur">
            Farrah Gris
        </p>
    </div>
  
</div>
<div class="row">
    <div class="col-11 offset-0">
        <iframe class="embed-responsive-item h-sd-auto d-inline-block" src="https://www.youtube.com/embed/aOE1pDSNOGE" title="Campus France 23/24: Pourquoi Cette Année ou Rien !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-1">

    </div>
    <section class="container mt-5">
        <h3 class="text-center couleur_titre fw-bold mb-4"> C'est quoi Campus France?</h3>
        <p class="fs-5">
           <span class="fw-bold  ">Campus France </span>est un organisme français chargé de promouvoir l'enseignement supérieur français
            à l'international et d'accompagner les étudiants étrangers dans leurs démarches pour étudier
            en France. En tant que passerelle incontournable vers les universités et écoles françaises, 
            Campus France offre une assistance complète et personnalisée à chaque étape du processus
            d'inscription. <br><br>
            Grâce à son réseau mondial de centres d'information et d'orientation, <span class="fw-bold">Campus France </span>fournit aux 
            étudiants étrangers des conseils sur les formations disponibles, les procédures d'admission, 
            les visas, les bourses d'études, et bien plus encore. De plus, <span class="fw-bold">Campus France </span> facilite le processus
             d'inscription en ligne aux établissements d'enseignement supérieur français, simplifiant ainsi
            les démarches administratives pour les étudiants du monde entier. <br><br>
            En résumé, <span class="fw-bold">Campus France </span> joue un rôle essentiel dans la promotion de l'enseignement supérieur 
            français à l'échelle internationale et dans l'accompagnement des étudiants étrangers dans la
             réalisation de leur projet d'études en France. <br><br>
             Pour en savoir plus sur les services offerts par <span class="fw-bold">Campus France </span> et comment bénéficier de leur 
             assistance, n'hésitez pas à explorer notre site ou à nous contacter directement. Nous sommes 
             là pour vous guider dans votre parcours vers l'éducation en France.
        </p>
        <h3 class="text-center couleur_titre fw-bold mb-4">Quelles difficultés rencontre-t-on ? </h3>
        <ol>
            <li class="mb-3 fs-5 ">
                 <span class="fw-bold" >Compréhension des exigences</span>: La procédure Campus France peut être complexe,
                 avec des exigences spécifiques concernant les documents à fournir, 
                 les délais à respecter et les étapes à suivre. 
                 Les étudiants peuvent trouver difficile de comprendre pleinement ces exigences.
            </li>
            <li class="mb-3 fs-5 ">
                <span class="fw-bold" >Sélection des formations</span>: Choisir les bonnes formations parmi 
                la multitude d'options disponibles peut être déroutant. Les étudiants peuvent avoir du mal 
                à identifier les programmes qui correspondent le mieux à leurs intérêts académiques et 
                professionnels.
           </li>
           <li class="mb-3 fs-5 ">
                <span class="fw-bold" >Préparation du dossier </span>: Constituer un dossier solide et convaincant
                pour Campus France nécessite du temps, de la recherche et une compréhension approfondie des 
                attentes des universités françaises. Les étudiants peuvent se sentir dépassés par cette tâche.
          </li>
          <li class="mb-3 fs-5 ">
                <span class="fw-bold" >Rédaction de la lettre de motivation : </span> La rédaction d'une 
                lettre de motivation percutante est essentielle pour convaincre les universités françaises
                 de la pertinence de votre candidature. Beaucoup d'étudiants trouvent difficile de mettre 
                 en mots leurs motivations de manière convaincante.
         </li>
         <li class="mb-3 fs-5 ">
            <span class="fw-bold" >Préparation du CV</span>: La préparation d'un CV adapté aux standards 
            français peut être un défi pour les étudiants étrangers. Ils peuvent avoir du mal à mettre en
             valeur leur expérience et leurs compétences de manière pertinente pour le marché français.
        </li>
        <li class="mb-3 fs-5 ">
              <span class="fw-bold" >Préparation à l’entretien pédagogique </span>: Se préparer à l’entretiens 
                 peut-être stressant et nécessite une bonne connaissance des attentes des recruteurs.
        </li >
        <li class="mb-3 fs-5 ">
            <span class="fw-bold" >Choix du projet professionnel et d'études  </span>:Déterminer le projet
             professionnel et les études les plus appropriés peut être un processus complexe. 
             Les étudiants peuvent se sentir perdus quant aux choix de carrière et aux parcours d'études 
             les mieux adaptés à leurs aspirations.
        </li>

        </ol>
        <p class="fs-6">
            Face à ces défis, notre service d'accompagnement personnalisé offre une solution rassurante. 
            Nous sommes là pour guider les étudiants à chaque étape de la procédure <span class="fw-bold"> Campus France,</span> 
            en leur fournissant les conseils, l'assistance et le soutien nécessaires pour surmonter 
            ces obstacles et maximiser leurs chances de succès. Avec notre expertise et notre engagement, 
            nous sommes là pour faire de leur projet d'études en France une réalité sans tracas.
        </p>
 
        <p class="text-end texte_coaching">   
            Pour suivre nos séances de coaching payantes, cliquez sur le bouton 
            <a href="https://api.whatsapp.com/send?phone=237681195346">
                <button type="button" class="btn btn-danger btn-lg btn_coaching">Coaching</button>
            </a>            
        </p>
        
   </section>

   </div>
</div>
