<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Inknut+Antiqua:wght@300&family=Jacques+Francois+Shadow&family=Kavoon&family=Kelly+Slab&family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<div class="container sti">
<div class="row" style="margin-top: 30px;">
    <div class="col-12">
        <p  class="citation text-center" style="margin-top: 30px;">
            “Le succès n'est pas la clé du bonheur. Le bonheur est la clé du succès.
             Si vous aimez ce que vous faites, vous réussirez ”<br>
        </p>
    </div>
    <div class="col-7 offset-5">
        <p class=" auteur">
            Albert Schweitzer
        </p>
    </div>
  
</div>
<div class="row">
    <div class="col-12 offset-0">
        <iframe class="embed-responsive-item h-sd-auto d-inline-block" src="https://www.youtube.com/embed/qYQ9yLPsz88" title="Campus France 23/24: Pourquoi Cette Année ou Rien !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-1">

    </div>
    <section class="container mt-5">
        <div class="row mt-3 mb-5">
            <div class="col-10 col-md-4 offset-1 ">
                <p class="p-5 pt-3 text-black text fs-6 que_faisons_nous"> 
                    <br> <br>
                    <span class="fw-bold  ">Campus France </span>est un service public qui facilite 
                    l'accès des étudiants internationaux aux études en France. Il fournit des informations, aide à la 
                    constitution des dossiers de candidature et organise des entretiens, simplifiant ainsi les 
                    démarches administratives pour les étudiants étrangers.. <br><br>
                </p>
            </div>
            <div class="col-12 col-md-5 offset-md-1 text-center">
                <img src="/assets/logo-campus-france.png" class="img-fluid" alt="">
            </div>
        </div>
        <p class="text-center texte couleur_titre display-6 fw-bold mb-5" style="color: orange;" >Les étapes de la procédure Campus France :</p>
        <ol class="mx-3">
            <li class="">
                 <span class="fw-bold fs-5" style="color: #1283EB;" >Créer un dossier de candidature en ligne </span>:
                 <ul>
                    <li class="fs-6">
                        Commencez par créer votre dossier sur la plateforme Études en France. 
                        C'est le point de départ de votre aventure académique en France.
                    </li>
                 </ul> 
            </li>
            <li class="mt-4">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Renseigner les informations personnelles </span>:
                <ul>
                    <li class="fs-6" >
                        Fournissez avec précision toutes vos informations personnelles, car elles sont 
                        essentielles pour votre dossier.
                    </li>
                </ul> 
           </li>
           <li class="mt-4 ">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Remplir le panier de formations  </span>: 
                <ul>
                    <li class="fs-6" >
                        Sélectionnez les formations qui correspondent à votre projet académique et 
                        professionnel. Choisissez avec soin, car cela déterminera votre parcours futur.
                    </li>
                </ul>
          </li>
          <li class="mt-4 ">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Soumettre le dossier de candidature  : </span>
                <ul>
                    <li class="fs-6" >
                        Une fois votre dossier complété, soumettez-le en ligne. Assurez-vous qu'il soit complet
                         et conforme aux exigences pour éviter tout retard dans le traitement.
                    </li>
                </ul>
         </li>
            <li class="mt-4">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Payer les frais de dossier </span>:
                <ul>
                    <li class="fs-6" >
                        Procédez au paiement des frais de dossier requis. C'est une étape importante pour 
                        finaliser votre candidature.
                    </li>
                </ul> 
            </li>
            <li class="mt-4">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Préparation à l'entretien Campus France (le cas échéant)  </span>: 
                <ul>
                    <li class="fs-6" >
                        Si votre dossier est retenu, vous serez invité à un entretien avec un conseiller de 
                        Campus France. Préparez-vous à cet entretien en mettant en avant votre projet d'études 
                        et votre motivation à étudier en France.
                    </li>
                </ul>
            </li >
        </ol>
        <p class="p-5 pt-3 text-black text fs-6 que_faisons_nous"> <br>
            En suivant ces étapes avec attention et en vous préparant bien à l'entretien, 
            vous augmenterez vos chances de réussite dans votre projet d'études en France.
        </p>
        <p class="text-center texte display-6 fw-bold mb-4" style="color: orange;" >Documents nécessaires pour constituer un dossier Campus France : </p>
        <p class="p-5 pt-3 text-black text fs-6 que_faisons_nous"> <br>
            Pour constituer un dossier Campus France, vous aurez besoin des documents suivants :
        </p>
        <div class="row mt-5 ">
            <div class="col-9 offset-2 offset-md-0 col-md-5 mt-0 mt-md-5 mb-3 mb-md-0 ">
                <img src="/assets/requirement.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-md-6">
                <ol class="mx-3">
                    <li class="">
                         <span class="fw-bold fs-5" style="color: #1283EB;" >Pièces d'identité </span>:
                         <ul>
                            <li class="fs-6">
                                Carte d'identité, passeport ou tout autre document officiel permettant de prouver votre identité.
                            </li>
                         </ul> 
                    </li>
                    <li class="mt-4">
                        <span class="fw-bold fs-5" style="color: #1283EB;" >Diplômes et relevés de notes </span>:
                        <ul>
                            <li class="fs-6" >
                                Tous les diplômes obtenus jusqu'à présent, ainsi que les relevés de notes correspondants.
                            </li>
                        </ul> 
                   </li>
                   <li class="mt-4 ">
                        <span class="fw-bold fs-5" style="color: #1283EB;" >Lettre de motivation  </span>: 
                        <ul>
                            <li class="fs-6" >
                                Une lettre dans laquelle vous exposez votre projet d'études, vos motivations et vos 
                                objectifs académiques et professionnels.
                            </li>
                        </ul>
                  </li>
                  <li class="mt-4 ">
                        <span class="fw-bold fs-5" style="color: #1283EB;" >Curriculum vitae (CV) : </span>
                        <ul>
                            <li class="fs-6" >
                                Un document détaillant votre parcours scolaire, vos expériences professionnelles, 
                                vos compétences et vos centres d'intérêt.
                            </li>
                        </ul>
                 </li>
                    <li class="mt-4">
                        <span class="fw-bold fs-5" style="color: #1283EB;" >Preuve de maîtrise de la langue française </span>:
                        <ul>
                            <li class="fs-6" >
                                 Certificat de langue (comme le DELF, le DALF) ou tout autre document attestant de 
                                votre niveau de français si vous prévoyez d'étudier en français.
                            </li>
                        </ul> 
                    </li>
                    <li class="mt-4">
                        <span class="fw-bold fs-5" style="color: #1283EB;" >Attestation d'inscription ou de préinscription  </span>: 
                        <ul>
                            <li class="fs-6" >
                                Si vous avez déjà été accepté dans un établissement d'enseignement supérieur en 
                                France, vous devrez fournir une attestation d'inscription ou de préinscription.
                            </li>
                        </ul>
                    </li >
                    <li class="mt-4 ">
                        <span class="fw-bold fs-5" style="color: #1283EB;" >Autres documents spécifiques</span>:
                        <ul>
                            <li class="fs-6" >
                                Certains programmes d'études ou universités peuvent demander des documents 
                                supplémentaires, alors assurez-vous de vérifier les exigences spécifiques de votre 
                                cursus.
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        
        <p class="text-center texte display-6 fw-bold mb-4" style="color: orange;" >Quelles difficultés rencontre-t-on ? </p>
        <ol class="mx-3">
            <li class="">
                 <span class="fw-bold fs-5" style="color: #1283EB;" >Compréhension des exigences</span>:
                 <ul>
                    <li class="fs-6">
                        La procédure Campus France peut être complexe,
                        avec des exigences spécifiques concernant les documents à fournir, 
                        les délais à respecter et les étapes à suivre. 
                        Les étudiants peuvent trouver difficile de comprendre pleinement ces exigences.
                    </li>
                 </ul> 
            </li>
            <li class="mt-4">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Sélection des formations</span>:
                <ul>
                    <li class="fs-6" >
                        Choisir les bonnes formations parmi 
                        la multitude d'options disponibles peut être déroutant. Les étudiants peuvent avoir du mal 
                        à identifier les programmes qui correspondent le mieux à leurs intérêts académiques et 
                        professionnels.
                    </li>
                </ul> 
           </li>
           <li class="mt-4 ">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Préparation du dossier </span>: 
                <ul>
                    <li class="fs-6" >
                        Constituer un dossier solide et convaincant
                         pour Campus France nécessite du temps, de la recherche et une compréhension approfondie des 
                         attentes des universités françaises. Les étudiants peuvent se sentir dépassés par cette tâche.
                    </li>
                </ul>
          </li>
          <li class="mt-4 ">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Rédaction de la lettre de motivation : </span>
                <ul>
                    <li class="fs-6" >
                        La rédaction d'une 
                        lettre de motivation percutante est essentielle pour convaincre les universités françaises
                         de la pertinence de votre candidature. Beaucoup d'étudiants trouvent difficile de mettre 
                         en mots leurs motivations de manière convaincante.
                    </li>
                </ul>
         </li>
            <li class="mt-4">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Préparation du CV</span>:
                <ul>
                    <li class="fs-6" >
                        La préparation d'un CV adapté aux standards 
                        français peut être un défi pour les étudiants étrangers. Ils peuvent avoir du mal à mettre en
                        valeur leur expérience et leurs compétences de manière pertinente pour le marché français.
                    </li>
                </ul> 
            </li>
            <li class="mt-4">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Préparation à l’entretien pédagogique </span>: 
                <ul>
                    <li class="fs-6" >
                        Se préparer à l’entretiens 
                    peut-être stressant et nécessite une bonne connaissance des attentes des recruteurs.
                    </li>
                </ul>
            </li >
            <li class="mt-4 ">
                <span class="fw-bold fs-5" style="color: #1283EB;" >Choix du projet professionnel et d'études  </span>:
                <ul>
                    <li class="fs-6" >
                        Déterminer le projet
                        professionnel et les études les plus appropriés peut être un processus complexe. 
                        Les étudiants peuvent se sentir perdus quant aux choix de carrière et aux parcours d'études 
                        les mieux adaptés à leurs aspirations.
                    </li>
                </ul>
            </li>

        </ol>
        <div class="row mt-5 texte">
            <div class="col-12 col-md-5 offset-0 offset-md-1 mt-0 mb-3 mb-md-0 d-flex justify-content-center ">
                <img src="/assets/France-Etude rond 1.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-md-4">
                <p class="p-5 pt-3 text-black text fs-6 que_faisons_nous"> <br>
                    Face à ces défis, notre service d'accompagnement personnalisé offre une solution rassurante. 
                    Nous sommes là pour guider les étudiants à chaque étape de la procédure <span class="fw-bold"> Campus France,</span> 
                    en leur fournissant les conseils, l'assistance et le soutien nécessaires pour surmonter 
                    ces obstacles et maximiser leurs chances de succès. Avec notre expertise et notre engagement, 
                    nous sommes là pour faire de leur projet d'études en France une réalité sans tracas.
                </p>
            </div>
        </div>
        <p class="p-5 pt-3 text-black text-end fs-6 que_faisons_nous ">   <br>
            Envie d'en savoir davantage? Cliquez sur le bouton afin de suivre nos formations gratuites 
            <a href="formation/liste">
                <button type="button" class="btn jello-horizontal btn-danger btn-lg btn_coaching">Formations gratuites</button>
            </a>            
        </p>
        
   </section>

   </div>
</div>
