<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Kavoon&family=Montserrat:wght@100&display=swap" rel="stylesheet"> </head>
<div class="container sti">
<div class="row">
    <div class="col-10 offset-2">
        <p  class=" citation ">
            “Construisez vos propres reves, ou quelqu’un d’autre va vous        
            embaucher <br>pour construire les siens ”<br>
         
        </p>
    </div>
    <div class="col-7 offset-5">
        <p class=" auteur">
            Farrah Gris
        </p>
    </div>
  
</div>
<div class="row">
    <div class="col-8 offset-2">
        <iframe  src="https://www.youtube.com/embed/EYPfp7MeqUA" title="Etudes en France procédure 2022/2023, les démarches de A à Z sur Campus France 🇫🇷" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
    <div class="col">

    </div>
    <p>
        yo
    </p>
    <p>
        yo
    </p>
    <p>
        yo
    </p>
    <p>
        yo
    </p>
</div>
</div>