<p class="text-center texte display-6 fw-bold mt-4 mb-4" style="color: orange;" >Politique de confidentialité </p>

<div class="container">
    <div class="row">
        <p>
            Le site web FranceÉtudes.com est détenu par FranceÉtudes qui est une entrreprise ayant pour 
            fondateur et CEO ISMAËL FOUDJO ...
            afin d'améliorer l'expérience utilisateur. <br> <br>
            Nous avons adopté cette politique de confidentialité, qui détermine la manière dont nous traitons 
            les informations collectées par FranceÉtudes, qui fournit également les raisons pour lesquelles 
            nous devons collecter certaines données personnelles vous concernant. Par conséquent, vous devez 
            lire cette politique de confidentialité avant d'utiliser le site web de FranceÉtudes. <br><br>
            Nous prenons soin de vos données personnelles et nous nous engageons à en garantir la 
            confidentialité et la sécurité. <br><br>
        </p>   
        <p>
             Des cookie sont utilisés afin d'améliorer l'expérience utilisateur. Ceux-ci sont
        </p> 
            
    </div>
</div>


