.couleur_titre
{
    color: red //#1283EB;
}
.texte
{
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
}

.que_faisons_nous
{
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: large;
  font-style: normal;
}