<p class="text-center texte display-6 fw-bold mt-4 mb-4" style="color: #1283EB;" >Politique de confidentialité </p>

<div class="container">
    <div class="row fs-6 que_faisons_nous mx-3 ">
        <p class="">
            <span style="margin-left: 20px;">Le</span> site web <a href="https://franceétudes.com">FranceÉtudes.com</a> est détenu par <span class="fw-bold">FranceÉtudes</span> qui est une structure ayant pour 
            fondateur et CEO <i class="fw-bold" >ISMAËL FOUDJO </i> <br> <br>
            <span style="margin-left: 20px;">Nous</span> avons adopté cette politique de confidentialité, qui détermine la manière dont nous traitons 
            les informations collectées par FranceÉtudes, qui fournit également les raisons pour lesquelles 
            nous devons collecter certaines données personnelles vous concernant. Par conséquent, vous devez 
            lire cette politique de confidentialité avant d'utiliser le site web de FranceÉtudes. <br>
            <span class="ml-3" style="margin-left: 20px;">Nous</span> prenons soin de vos données personnelles et nous nous engageons à en garantir la 
            confidentialité et la sécurité. <br><br>
        </p>   
        <p class="">
            <span style="margin-left: 20px;">Des</span> informations des utilisateurs sont stockées sous forme de cookie, elles sont recueillies lors 
             de la connexion au site. Comme informations recueillies nous avons le <strong>pseudo</strong>  de l'utilisateur, 
             son <strong>adresse mail</strong>, son <strong>mot de passe</strong>. Ces informations sont fournies lors de l'inscription au site et récupérer 
             lors de la connexion. Ces cookies permettent d'améliorer l'expérience utilisateur en personnalisant certaines
             interfaces, en envoyant des mails à nos utilisateurs, à donner accès pour nos différents utilisateurs aux 
             produits que nous proposons à savoir des ensembles de vidéos, documents textuels, image etc... <br>
             Les informations recueillies ne seront utilisées que par FranceÉtudes. Elles ne seront donc partagées
             donc à aucune tierce personne dans un but quelconque
        </p> 
        <p class="">
            <span style="margin-left: 20px;">En</span> vous insrivant, vous validez notre politique de confiendialité et par conséquent donnez votre accord
            pour la collecte des informations utilisées pour les cookies. En refusant de vous inscrire vous aurez accès
            au site mais ne pourrez pas consulter certaines pages de celui-ci. <br><br>
            <span style="margin-left: 20px;">Vous</span> pouvez décider de vous désinscrire afin de ne plus recevoir de mail venant de FranceÉtudes et de
            supprimer les informations vous concernant dont nous avons accès
        </p>
        <p class="">
            Vous disposez du : 
        </p>    
            <ul  class="mx-3" >
                <li >
                  <span class="fw-bold fs-5 couleur_titre"> Droit à l'information : </span> 
                  <p class="fs-6 mx-3">
                    Être informé de toute collecte de vos données de façon claire et précise
                  </p>
                </li>
                <li>
                    <span class="fw-bold fs-5 couleur_titre">Droit à l'accès : </span>
                    <p  class="fs-6 mx-3">
                        Un accès aux données qui sont récoltées 
                    </p>
                </li>
                <li>
                    <span class="fw-bold fs-5 couleur_titre">Droit à la rectification  :</span>
                    <p  class="fs-6 mx-3">
                        Pour tout désir de rectification de vos données contactez-nous à cette adresse :
                        france.etudes237&#64;gmail.com
                    </p>
                </li>
                <li>
                    <span class="fw-bold fs-5 couleur_titre">Droit d'opposition :</span>
                    <p  class="fs-6 mx-3">
                        Vous avez le droit de refuser l'utilisation de vos données par le site FranceÉtudes
                    </p>
                </li>
            </ul>
    </div>
</div>


