.scrollable-card {
    height: 500px; /* Définissez la hauteur souhaitée */
    overflow: auto; /* Activer le défilement */
  }
  
  .scrollable-content {
    padding: 16px; /* Ajouter un peu de rembourrage */
  }
