@if (confirmationMessage === false) 
{
    <div class="bg-image img-fluid z-2" style="width: 100%; height: 90vh; background-image: url('/Contact/contact image.png'); background-size: cover; background-attachment: local; background-repeat: no-repeat; position: relative;">
        <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.6); z-index: 1;"></div>
        <div class="container z-3" style="position: relative; z-index: 2; height: 100%; display: flex; flex-direction: column; justify-content: end;"> <!-- Centrage vertical uniquement -->
            <div class="row mb-5" style="text-align: left;">
                <p>
                    <span class="display-3 fw-bold" style="color: #FCA129;">Consultations gratuites <br></span>
                    <span class="display-3 fw-bold" style="color: #FCA129;"> avec FranceÉtudes</span><br>
                </p>
            </div>
        </div>   
    </div>
    <div class="container mt-5">
        <form [formGroup]="contactForm" class="row">
            <div class="col-12 col-md-6">
                <h1 class="fw-bold fs-3 mb-5">Remplissez le <span style="color: #FCA129;">formulaire</span> et réservez votre rendez-vous</h1>
            </div>
            <div class="col-6"></div>
            <div class="col-12 col-md-6">
                <label class="fw-bold" >Prénom</label> <span style="color: red;">*</span>
                <input type="text" autocomplete="off" formControlName="prenom" class="form-control mb-5 p-3 border border-primary" style="background-color: rgb(217, 217, 217, 0.38);"  placeholder="Prénom ">
            </div>
            <div class="col-12 col-md-6">
                <label class="fw-bold" >Nom</label> <span style="color: red;">*</span>
                <input type="text" autocomplete="off" formControlName="nom" class="form-control mb-5 p-3 border border-primary" style="background-color: rgb(217, 217, 217, 0.38);"  placeholder="Nom ">
    
            </div>
            <div class="col-12 col-md-6">
                <label class="fw-bold" >Email</label> <span style="color: red;">*</span>
                <input type="email" autocomplete="off" formControlName="email" class="form-control mb-5 p-3 border border-primary" style="background-color: rgb(217, 217, 217, 0.38);"  placeholder="Email ">
            </div>
            <div class="col-12 col-md-6">
                <label class="fw-bold" >Téléphone (WhatsApp) </label> <span style="color: red;">*</span>
                <div class="d-flex flex-row">
                    <select class=" custom-select form-control fw-bold text-center mb-5 p-3 border border-primary mx-2" formControlName="indicatif" style="background-color: rgb(217, 217, 217, 0.38);" >
                        @for (country of countryCodes; track $index) 
                        {
                            <option [value]="country.code">
                                {{ country.flag }} {{ country.code }} 
                              </option>
                        }
                    </select>                  
                     <input type="tel" autocomplete="off" formControlName="telephone" class="form-control mb-5 p-3 border border-primary" style="background-color: rgb(217, 217, 217, 0.38);" placeholder="612-345-678 (WhatsApp)">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="fw-bold">Pays de résidence <span style="color: red;">*</span> </label>
                <div class="d-flex flex-row">
                    <input type="tel" autocomplete="off" class="form-control fw-bold text-center mb-5 p-3 border border-primary mx-2" value="Pays de résidence :" style="background-color: rgb(217, 217, 217, 0.38);">
                    <select class="custom-select form-control fw-bold text-center mb-5 p-3 border border-primary mx-2" formControlName="pays" style="background-color: rgb(217, 217, 217, 0.38);" >
                        @for (country of countryCodes; track $index) 
                       {
                        <option [value]="country.country">
                            {{ country.flag }} {{ country.country }}
                          </option>
                       }
                    </select>             
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="fw-bold" >Motif de votre rendez-vous <span style="color: red;">*</span> </label>
                <select class="custom-select form-control fw-bold text-center mb-5 p-3 border border-primary mx-2" formControlName="motif" style="background-color: rgb(217, 217, 217, 0.38);" >
                    <option value="Procédure Campus France">Procédure Campus France</option>
                    <option value="CV / Lettre / Projet d'étude">CV / Lettre / Projet d'étude</option>
                    <option value="Ecoles privées">Ecoles privées</option>
                    <option value="Visa étudiant">Visa étudiant</option>
                    <option value="Logement étudiant">Logement étudiant</option>
                    <option value="Autres">Autres</option>
                </select>   
            </div>
            <div class="col-12 col-md-6">
                <button type="button" (click)="onSubmit()" [disabled]="contactForm.invalid"  class="btn btn-lg text-white p-3 m-4" style="background-color: #083699;"><strong>Réserver</strong></button> 
            </div>
        </form>
    </div>
}
@if (confirmationMessage === true) 
{
    <div class="bg-image img-fluid z-2" style="width: 100%; height: 90vh; background-image: url('/Contact/contact image.png'); background-size: cover; background-attachment: local; background-repeat: no-repeat; position: relative;">
        <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.6); z-index: 1;"></div>
        <div class="container z-3" style="position: relative; z-index: 2; height: 100%; display: flex; flex-direction: column; justify-content: center;"> <!-- Centrage vertical uniquement -->
            <div class="row mb-5" style="text-align: left;">
                <div class="d-flex flex-column justify-content-between">
                    <div class="col-12 mt-5 text-center" >
                    <div class="card">
                        <div class="card-body">
                        <img class="image-fluid" src="/reinitialisation succes/check.png" alt="hello">
                        <span class="mx-2 fw-bold" >Réservation effectuée avec succès, Retournez à l'accueil </span>
                        </div>
                    </div>
                    </div>
                    <div class="col-12 my-5 text-center">
                        <button type="button" (click)="accueil()" class="btn btn-lg fw-bold text-white px-5" style="background-color: #083699;" >Accueil</button>
                    </div>
                </div>               
            </div>
        </div>   
    </div>
}

