<div class="container">
    <div class="row">
        <span class="display-2 fw-bold mb-4 mt-3" style="color: #FCA129;">FAQs</span>
        <span class="fw-bold fs-4 mb-2" >Foire Aux Questions</span>
        <span class="fs-5">Tu as des questions sur les études en France ? Nous avons les réponses ! Voici les questions les plus posées par les étudiants comme toi.</span>
    </div>
</div>
<div class="m-2" style="background-color: #D9D9D9;">
    <div class="container p-5">
        <h1 class="display-2 fw-bold mb-4 mt-3" style="color: #FCA129;">Procédure Campus France</h1>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Qu'est-ce que Campus France et à quoi ça sert ?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <span class="fw-bold">Campus France</span> est l’organisme qui gère les candidatures des étudiants étrangers souhaitant étudier en France. 
                        Il facilite les démarches d’admission et de visa
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                        Comment créer un compte Campus France ?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Rendez-vous sur la plateforme <span class="fw-bold">Études en France,</span> sélectionnez votre pays et suivez les étapes d’inscription en renseignant 
                        vos informations personnelles
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                        Est-ce que peu de personnes obtiennent réellement le visa étudiant France ?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Non, c’est une fausse impression. Les avis négatifs sont plus visibles sur les réseaux, mais en réalité, de nombreux étudiants 
                        obtiennent leur visa chaque année. En 2023, on  a enregistré une hausse du nombre de visas accordés par rapport aux années précédentes.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseOne">
                        Quels documents sont nécessaires pour un dossier Campus France ?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Passeport, relevés de notes, diplômes, CV, lettre de motivation, justificatif de niveau de langue et tout autre document spécifique 
                        demandé par l’établissement.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseOne">
                        Combien d’universités puis-je choisir dans Campus France ?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Jusqu’à 7 formations pour un cycle Master, et jusqu’à 3 formations pour une candidature Licence.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseOne">
                        Comment bien rédiger sa lettre de motivation Campus France ?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Elle doit être personnalisée, claire et montrer la cohérence entre votre parcours, la formation choisie et votre projet professionnel.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseOne">
                        Comment réussir son entretien Campus France ?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Soyez clair sur votre projet d’études, votre choix d’université et votre motivation. Entraînez-vous aux questions fréquentes comme 
                        "Pourquoi la France ?" et "Quels sont vos projets professionnels et études  ? etc…
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseOne">
                        Comment bien faire son choix définitif lorsqu’on a plusieurs acceptations ?
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Vérifiez d’abord la réputation de la formation, puis les conditions d’hébergement. Si ces critères sont réunis et que vous pouvez 
                        assumer les frais de scolarité, vous êtes sur la bonne voie. Votre choix définitif engage votre avenir, prenez-le au sérieux.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseOne">
                        Que faire après avoir obtenu une acceptation sur Campus France ?
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Après votre acceptation au public, télécharger l’accord préalable d’inscription et commencer les démarches de visa.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseOne">
                        Quels sont les signes d’une acceptation Campus France ?
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Un dossier bien préparé augmente vos chances : bonnes notes scolaires, dossier complet et cohérent, et entretien Campus France réussi 
                        (ou non requis). Ces éléments sont souvent présents chez ceux qui obtiennent une acceptation.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseOne">
                        Quelle est la date limite pour faire son choix définitif sur Campus France ?
                    </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Pour les écoles connectées, vous avez jusqu’au 31 mai 2025 pour valider votre choix définitif sur la plateforme.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseOne">
                        Comment savoir si ma formation dans une école privée est reconnue par l’État ?
                    </button>
                </h2>
                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Demandez à l’école <span class="fw-bold">le code RNCP</span> de votre formation, puis vérifiez-le sur <a href="https://francecompetences.fr" target="_blank" >francecompetences.fr</a>. Assurez-vous que le titre affiché 
                        correspond bien à votre formation et que le certificateur est en lien avec l’école. En cas de doute, contactez directement le 
                        certificateur. Cela vous évitera une arnaque et un diplôme non reconnu.
                    </div>
                </div>
            </div>
        </div>
        <h1 class="display-2 fw-bold mb-4 mt-3" style="color: #FCA129;">Demande de Visa Étudiant</h1>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseOne">
                        Quand commencer sa demande de visa étudiant pour la France ?
                    </button>
                </h2>
                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Il est recommandé de déposer votre demande de visa 3 mois avant la rentrée académique, et au plus tard 3 semaines avant, 
                        pour laisser à l’ambassade le temps de traiter votre dossier.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseOne">
                        Quels documents sont requis pour un visa étudiant en France ?
                    </button>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Passeport valide, formulaire de demande de visa, accord préalable d’inscription , justificatif de ressources financières, 
                        justificatif d’hébergement, assurance santé, photos d’identité etc...
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseOne">
                        Combien de temps prend le traitement d'un visa étudiant ?
                    </button>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        En moyenne 1 à 4 semaines, mais cela peut varier selon le pays et la période.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseOne">
                        Pourquoi un visa étudiant peut-il être refusé ?
                    </button>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Manque de ressources financières, incohérence du projet d’études, dossier incomplet, manque de motivation apparente etc...
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapseOne">
                        Que faire en cas de refus de visa ?
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Analyser la raison du refus, préparer un recours si possible et améliorer son dossier pour une nouvelle demande.Besoin 
                        d’assistance pour votre recours ? veuillez nous contacter <a href="https://franceétudes.com/accueil/contact" target="_blank" >Contactez-nous</a>. 
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapseOne">
                        Combien faut-il prouver en ressources financières pour un visa étudiant ?
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Au moins 615€ par mois, soit environ 7 380€ par an. 
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapseOne">
                        Où faire son attestation de virement irrévocable pour le visa (AVI)  ?
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Nous vous recommandons <a href="https://www.studely.com/fr/" target="_blank" class="fw-bold">Studely</a> pour maximiser vos chances d’obtenir votre visa.        
                       <span class="fw-bold">FranceÉtudes</span> a choisi <a href="https://www.studely.com/fr/" target="_blank" class="fw-bold">Studely</a>  comme partenaire pour vous garantir un service fiable.  
                        Présentez-vous dans l’une de leurs agences avec <span class="fw-bold">notre code promo (IF2)</span> et bénéficiez d’une réduction sur vos frais ! 
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapseOne">
                        Puis-je travailler avec un visa étudiant en France ?
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Oui, jusqu'à 964 heures par an (environ 20h/semaine). 
                    </div>
                </div>
            </div>
        </div>
        <h1 class="display-2 fw-bold mb-4 mt-3" style="color: #FCA129;">Logement Étudiant en France</h1>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse01" aria-expanded="false" aria-controls="collapseOne">
                        Comment trouver un logement étudiant en France ?
                    </button>
                </h2>
                <div id="collapse01" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Via les CROUS, résidences privées, colocation, agences immobilières ou plateformes comme <span class="fw-bold">Studapart et LeBonCoin.</span> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse02" aria-expanded="false" aria-controls="collapseOne">
                        Quels documents faut-il pour louer un logement ?
                    </button>
                </h2>
                <div id="collapse02" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Passeport, visa, attestation d’inscription, justificatif de revenus, garant en France (souvent demandé).
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse03" aria-expanded="false" aria-controls="collapseOne">
                        Est-il obligatoire d’avoir une assurance habitation ?
                    </button>
                </h2>
                <div id="collapse03" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Oui, elle est obligatoire pour tout logement en France.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse04" aria-expanded="false" aria-controls="collapseOne">
                        Comment éviter les arnaques au logement ?
                    </button>
                </h2>
                <div id="collapse04" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Ne jamais payer avant de signer un contrat et toujours visiter le logement ou demander une vidéo en direct.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse05" aria-expanded="false" aria-controls="collapseOne">
                        Puis-je louer un logement sans garant en France ?
                    </button>
                </h2>
                <div id="collapse05" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Oui, via le dispositif Visale qui sert de garant gratuit sous conditions.
                    </div>
                </div>
            </div>
        </div>
        <div class="row accordion" id="faqAccordion" style="background-color: #D9D9D9;">
            <div class="accordion-item faq-item" style="background-color: #D9D9D9;">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse06" aria-expanded="false" aria-controls="collapseOne">
                        Quels sont les types de logements accessibles aux étudiants ?
                    </button>
                </h2>
                <div id="collapse06" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Studios, colocations, résidences universitaires (CROUS), résidences privées.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>