<section class="fond mt-10 mb-10 ">
    <div class="container p-5">
        <div data-aos="zoom-in"  data-aos-duration="3000" class="row">
            <div class="col-12  text-center">  
                <p class="text-end" style="margin-top: 50px; color: #F31111; font-size: x-large;">
                   <a href="formation/mes_formations" style="color: #F31111; text-decoration: none;"> Mes formations</a> 
                </p>             
              <h3 class="fw-bold" > <br> Formations Payantes <br></h3>
            </div>
        </div>
    </div>
</section>
<section class="formation">
    <div class="container ">
        <div class="row">
            <div class="col-10 col-md-6 col-lg-4 heartbeat " *ngFor="let repertoire of repertoires" >
                 <div class="card my-4 puff-in-br " style="width: 18rem;" >
                      <div class="card-header text-center" style="background-color: #F31111;" >
                        <strong>{{repertoire.titre | uppercase}}</strong>
                      </div>
                      <div  *ngFor="let img of images ; let i = index">
                        <div *ngIf="repertoire.id_repertoire===img.id_repertoire"> 
                          <img class="card-img-top img-fluid" style="height: 200px;" src="../assets/{{img.nom}}" (click)="onViewFormation(repertoire.id_repertoire)" alt="Card image cap" >                         <!-- <img src="./{{img.path}}" class="card-img-top" alt="..." (click)="onViewFormation(formation.id_formation)"  >   --> 

                        </div>
                      </div>
                         <div class="card-body" >
                        <p class="card-text" >{{repertoire.description | uppercase}} </p>
                        <p class="card-text text-center " > <strong>{{repertoire.prix}} FCFA </strong> </p>
                      </div>
                  </div>
            </div>
        </div>
        <p class="text-end texte_coaching">   
          Pour obtenir l'accès à ces formations veuillez vous abonnez
          <a href="formation/payante">
              <button type="button" class="jello-horizontal btn btn-danger btn-lg btn_coaching" style="background-color: #F31111;">M'abonner</button>
          </a>
      </p>
    </div>
    <div *ngIf="admin ==='1'">
      <a href="admin/ajout_payant">
        <svg xmlns="http://www.w3.org/2000/svg" width="75" style="color :blue" height="52" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
          <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
          <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
        </svg>
      </a>
      <a href="admin/abonnement">
        <svg xmlns="http://www.w3.org/2000/svg" width="86" height="62" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"/>
        </svg>
      </a>
  </div>
</section>




<!--
   <div class="card my-4" style="width: 18rem;">
                      <div class="card-header text-center" style="background-color: #F31111;">
                          titre
                      </div>
                      <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
   <div class="col">
                <div class="card my-4" style="width: 18rem;">
                    <div class="card-header text-center" style="background-color: #F31111;">
                        titre
                    </div>
                    <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                  <div class="card my-4" style="width: 18rem;">
                    <div class="card-header text-center" style="background-color: #F31111;">
                        titre
                    </div>
                    <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
 <div class="col">
                <div class="card my-4" style="width: 18rem;">
                    <div class="card-header text-center" style="background-color: #F31111;">
                        titre
                    </div>
                    <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card my-4" style="width: 18rem;">
                    <div class="card-header text-center" style="background-color: #F31111;">
                        titre
                    </div>
                    <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>

-->