<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<footer class="footer sticky-footer ">
<div class="container">
    <div class="row pt-4 d-flex justify-content-between">
        <div class="col-12 col-md-3  kenburns-top-left">
            <h4 class="texte_souligne ">Notre Objectif</h4>
            <p class="text-focus-in">
                Lorem ipsum dolor sitamet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolnisiut 
                aliquip e culpa qui officia deserunt mollit anim id est laborum. 
                labore et dolnisi ut aliquip e culpa qui officia deserunt mollit
                 anim id est laborum. <br> <br>
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h4 class="texte_souligne ">Nos Contacts</h4> 
            <p>
               <a href="" class="text-black"><i class="bi bi-whatsapp fa-2x icone_mobile" style="color : green"></i></a> 
                <span class="contact"> +33 123456789</span>
            </p>
            <p>
                <a href="" class="text-black icone_mobile"><i class="bi bi-telephone fa-2x icone_mobile"  style="color : rgb(121, 121, 88)"></i></a>
                <span class="contact"> +33 123456789</span>
            </p>
            <p>
               <a href=""class="text-black"> <i class="bi bi-envelope fa-2x icone_mobile "></i></a>
                <span class="contact"> franceetude@gmail.com</span>
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h4 class="texte_souligne ">Réseaux Sociaux</h4>
            <p>
                <a href="" class="text-black"><i class="bi bi-facebook fa-2x" style="color : blue"></i></a> 
                <span> 850K Abonnés</span>
            </p>
            <p>
                <a routerLink ="formation/liste" href="" class="text-black"><i class="bi-md bi-instagram fa-2x" style="color : rgb(202, 26, 55)"></i></a>
                <span> 850K Abonnés</span>
            </p>
            <p>
                 <a href="https://www.youtube.com/watch?v=1gDyk2Za2TY" class="text-black"><i class="bi bi-youtube fa-2x"  style="color : red"></i></a>
                <span> 850K Abonnés</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p>
                <i class="bi bi-geo-alt fa-2x"></i>
                <span> Adresse adresse adresse</span>
            </p>
           
        </div>
        <div class="col-5 offset-md-2">
            <p>
                <i class="bi bi-clock fa-2x"  style="color : rgb(31, 132, 179)"></i>
                <span> Ouvert de 7H:00 à 18H:00 GMT</span>
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
            <div class="col-6 col-md-4">
                <a href="" class="fw-bold"> Mentions légales</a>
            </div>
            <div class="col-6 col-md-4 ">
                <a href="" class="fw-bold"> Politique de confidentialité</a>
            </div>
    </div>
</div>
</footer>
