<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<!--
<footer class="footer sticky-footer ">
<div class="container">
    <div class="row pt-4 d-flex justify-content-between">
        <div class="col-12 col-md-3  kenburns-top-left">
            <h4 class="texte_souligne ">Notre Objectif</h4>
            <p class="text-focus-in">
                Notre site vise à guider les étudiants internationaux à chaque étape de leur projet 
                d'études en France, offrant un soutien complet, des conseils pratiques et des ressources pour
                une expérience d'apprentissage réussie. Rejoignez-nous pour transformer vos rêves d'études à 
                l'étranger en réalité, avec confiance et facilité. <br> <br>
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h4 class="texte_souligne ">Nos Contacts</h4> 
            <p>
               <a href="https://api.whatsapp.com/send?phone=330780465075"  class="text-black"><i class="bi bi-whatsapp fa-2x icone_mobile" style="color : green"></i><span class="contact"> +33 07 80 46 50 75</span></a>  
            </p>
            <p>
                <a href="tel:+330780465075" class="text-black icone_mobile"><i class="bi bi-telephone fa-2x icone_mobile"  style="color : rgb(121, 121, 88)"></i> <span class="contact"> +33 07 80 46 50 75</span></a>
            </p>
            <p>
               <a href="mailto:france.etudes@gmail.com"class="text-black"> <i class="bi bi-envelope fa-2x icone_mobile "></i><span class="contact"> france.etudes@gmail.com</span></a>
            </p>
        </div>
        <div class="col-6 col-md-3">
            <h4 class="texte_souligne ">Réseaux Sociaux</h4>
            <p>
                <a href="" class="text-black"><i class="bi bi-facebook fa-2x" style="color : blue"></i></a> 
                <span> 850K Abonnés</span>
            </p>
            <p>
                <a routerLink ="formation/liste" href="" class="text-black"><i class="bi-md bi-instagram fa-2x" style="color : rgb(202, 26, 55)"></i></a>
                <span> 850K Abonnés</span>
            </p>
            <p>
                 <a href="https://www.youtube.com/@Ismael.2" class="text-black"><i class="bi bi-youtube fa-2x"  style="color : red"></i></a>
                <span> 850K Abonnés</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p>
                <i class="bi bi-geo-alt fa-2x"></i>
                <span> Adresse adresse adresse</span>
            </p>
           
        </div>
        <div class="col-5 offset-md-2">
            <p>
                <i class="bi bi-clock fa-2x"  style="color : rgb(31, 132, 179)"></i>
                <span> Ouvert de 7H:00 à 18H:00 GMT</span>
            </p>
        </div>
    </div>
</div>
<div style="background-color: white;">
    <div class="row d-flex justify-content-between px-4" >
        <div class="col-6 col-md-4">
            <a href="" class="fw-bold"> Mentions légales</a>
        </div>
        <div class="col-6 col-md-4 ">
            <a href="" class="fw-bold"> Politique de confidentialité</a>
        </div>
    </div>
</div>
</footer>
-->

<footer class="footer" >
    <div class="row m-4" style="background-color: aliceblue;">
        <div class=" mt-3 mb-3 d-flex justify-content-center">
            <img src="/assets/France-Etude rond 1.png" alt="" class="  " height="80px" style=" width: 80px;" >
        </div>
        <div class=" mt-3 d-flex justify-content-around">      
            <a href="" class="text-black"><i class="bi bi-facebook fa-2x" style="color : blue"></i></a> 
            <a routerLink ="formation/liste mx-5" href="" class="text-black"><i class="bi-md bi-instagram fa-2x" style="color : rgb(202, 26, 55)"></i></a>
            <a href="https://www.youtube.com/@Ismael.2" class="text-black"><i class="bi bi-youtube fa-2x"  style="color : red"></i></a>
            <a href="https://www.youtube.com/@Ismael.2" class="text-black">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                    <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"/>
                  </svg>
            </a>

        </div>
        <div class=" mt-4 kenburns-top-left">
            <h3 class="texte_souligne fw-bold">Notre Objectif</h3>
            <p class="text-focus-in fs-5">
                Notre site vise à guider les étudiants internationaux à chaque étape de leur projet 
                d'études en France, offrant un soutien complet, des conseils pratiques et des ressources pour
                une expérience d'apprentissage réussie. Rejoignez-nous pour transformer vos rêves d'études à 
                l'étranger en réalité, avec confiance et facilité. <br> <br>
            </p>
        </div>
        <div class="mt-3 d-flex justify-content-around ">
               <a href="https://api.whatsapp.com/send?phone=330780465075"  class="text-black"><i class="bi bi-whatsapp fa-2x icone_mobile" style="color : green"></i><span class="contact visually-hidden d-md-block "> +33 07 80 46 50 75</span></a>  
                <a href="tel:+330780465075" class="text-black icone_mobile"><i class="bi bi-telephone fa-2x icone_mobile"  style="color : rgb(121, 121, 88)"></i> <span class="contact visually-hidden d-md-block"> +33 07 80 46 50 75</span></a>
               <a href="mailto:france.etudes@gmail.com"class="text-black"> <i class="bi bi-envelope fa-2x icone_mobile "></i><span class="contact visually-hidden d-md-block"> france.etudes@gmail.com</span></a>
        </div>
    </div>
    <div class="row mx-2 mb-3">
        <div class="d-flex justify-content-evenly" style="background-color: #D9D9D9;;">
            <a href="" class="fw-bold" style="color: blue;" >
                Politique de confidentialité
            </a>
            <a href="" class="fw-bold " style="color: white;" >
                Accueil
            </a>
            <a href="" class="fw-bold " style="color: red;" >
                Mentions légales
            </a>
        </div>
    </div>
</footer>