  <section class="fond mt-10 mb-10 ">
    <div class="container p-5">
        <div class="row">
            <div class="col-12 col-md-3 text-center">               
              <h3 class="fw-bold"> <br> Découvrez <br> nos <br> formations <br></h3>
            </div>
            <div class="col-12 col-md-5 offset-md-3">
                <p>
                    obtention de visa, logement , la préparation à campus france sont des étapes fondementales dans le processus d’immigration. De ce fait, se préparer à les affronter est essentiel si l’ont veut ... 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                     dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                     aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="formation">
    <div class="container ">
        <div class="row">
            <div class="col-10 col-md-4" *ngFor="let formation of formations" >
                 <div class="card my-4 " style="width: 18rem;" >
                      <div class="card-header text-center" style="background-color: #F31111;" >
                        <strong>{{formation.titre | uppercase}}</strong>
                      </div>
                      <img src="/assets/Visa.jpeg" class="card-img-top" alt="..." (click)="onViewFormation(formation.id_formation)"  >   
                       <div class="card-body" >
                        <p class="card-text">{{formation.description | uppercase}} </p>
                      </div>
                  </div>
            </div>
        </div>
        <span>
            Pour un éventail de formations plus large, des formations plus ciblées, contactez nous afin d’avoir accès à nos formations payantes
        </span>
        <div class="text-end">
            <button type="button" class="btn btn-danger btn-lg " style="background-color: #F31111;">Formations </button>
        </div>
    </div>
</section>




<!--
   <div class="card my-4" style="width: 18rem;">
                      <div class="card-header text-center" style="background-color: #F31111;">
                          titre
                      </div>
                      <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
   <div class="col">
                <div class="card my-4" style="width: 18rem;">
                    <div class="card-header text-center" style="background-color: #F31111;">
                        titre
                    </div>
                    <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                  <div class="card my-4" style="width: 18rem;">
                    <div class="card-header text-center" style="background-color: #F31111;">
                        titre
                    </div>
                    <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
 <div class="col">
                <div class="card my-4" style="width: 18rem;">
                    <div class="card-header text-center" style="background-color: #F31111;">
                        titre
                    </div>
                    <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card my-4" style="width: 18rem;">
                    <div class="card-header text-center" style="background-color: #F31111;">
                        titre
                    </div>
                    <img src="/assets/Visa.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>

-->