<section class=" container d-flex justify-content-center" style="margin-top: 40px; margin-bottom: 20px;" >
    <ng-container *ngIf="email">
      <div class="row">
        <p class="text-black fw-bold fs-3 text-center ">{{erreur}} </p> <br><br>
        <div class="col-10 col-md-12 text-center ">
          <p class="mx-5 fw-bold fs-5 text-center" >
            Un lien de réinitialisation sera envoyé à l'adresse <span style="color: blue;" >{{email}} </span> 
          </p> <br>
          <button type="button" (click)="onSubmit()" class="btn btn-primary">Envoyer le lien </button>
        </div>       
      </div>
    </ng-container>
  </section>
  
  