.texte
{
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
}
.rouge:hover 
{
  background-color: red !important;
}

.que_faisons_nous
{
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: large;
  font-style: normal;
}
.scrollable-card {
    height: 500px; /* Définissez la hauteur souhaitée */
    overflow: auto; /* Activer le défilement */
  }
  
  .scrollable-content {
    padding: 16px; /* Ajouter un peu de rembourrage */
  }
