<div class="container" *ngIf="decision ===0">
    <div class="row" *ngIf="admi ==='1'">
        <div class="mt-5 text-center">               
            <p class="text-center texte couleur_titre display-4 fw-bold" style="color: orange;" >Entrez les créneaux horaires : </p>
        </div>
    </div>
    <form [formGroup]="creneauForm" class="row mt-5">
        <div class="col-6">
              <div>
                <label for="time">Sélectionnez une heure de début :</label>
                <input 
                  type="time" 
                  formControlName="heure_debut"
                  class="form-control"
                  id="time" 
                />
              </div>
              <p>Heure sélectionnée : {{this.creneauForm.value.heure_debut}} </p>
        </div>
        <div class="col-6">
              <div>
                <label for="time">Sélectionnez une heure de fin :</label>
                <input 
                  type="time" 
                  formControlName="heure_fin"
                  class="form-control"
                  id="time" 
                />
              </div>
              <p>Heure sélectionnée : {{this.creneauForm.value.heure_fin}} </p>
        </div>
      </form>
    <div class="row d-flex justify-content-center mt-5 ">
      <p class="text-center">
          <button type="button" (click)="onSubmit()" [disabled]="creneauForm.invalid" class="btn btn-danger text-center rouge btn-lg btn_coaching text-black" style="background-color: white;"> <strong>Suivant</strong> </button>
      </p>
    </div>
</div>


<div class="row" *ngIf="decision ===1">
  <p class="mx-5 mt-5 fw-bold fs-5 text-center">
      Modifications éffectuées <br><br>
      <button type="button" (click)="retour()" class="btn btn-danger rouge fw-bold btn_connexion">Terminer </button>

  </p>
</div>

<div *ngIf="admi !='1'">
  <h2 class="fw-bold text-center" > <br> Vous n'êtes pas habilité<br></h2>
  <div class="container ">
    <div class="row">
      <div class="col-10 col-md-3 offset-1 offset-md-2 p-2 d-flex justify-content-center"> 
        <p class="fs-6 que_faisons_nous text-black"> <br> Veuillez-vous connecter !</p>
    </div>  
    <div class="col-10 col-md-4 offset-1 offset-md-1 d-flex justify-content-center" >
        <br>
        <button type="button" (click)="onConnect()" class="btn btn-danger jello-horizontal bouton_blanc btn-lg mt-3 mb-3 "  style=" background-color: #F31111; "><strong> Connexion</strong> </button> <br> 
    </div>        
    </div>  
  </div> 
</div>