<section class=" container d-flex justify-content-center" style="margin-top: 40px; margin-bottom: 20px;" >
    <ng-container>
      <div class="row">
        <div class="col-12 col-md-12 text-center ">
          <p class="mx-5 fw-bold fs-2 text-center" style="color: rgba(18, 131, 235, 0.8);" >
            Réinitialisation effectuée avec succès cliquez sur le bouton pour vous connecter  
          </p> <br>
          <button type="button" (click)="onSubmit()"  class="btn btn-primary">Se connecter</button>
        </div>       
      </div>
    </ng-container>
  </section>