<div class="bg-image img-fluid z-2" style="width: 100%; height: 90vh; background-image: url('/Contact/contact image.png'); background-size: cover; background-attachment: local; background-repeat: no-repeat; position: relative;">
    <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.6); z-index: 1;"></div>
    <div class="container z-3" style="position: relative; z-index: 2; height: 100%; display: flex; flex-direction: column; justify-content: center;"> <!-- Centrage vertical uniquement -->
        <div class="row mb-5" style="text-align: left;">
          <div class="d-flex flex-column justify-content-between">
              <div class="col-12 mt-5 text-center" >
                <div class="card">
                  <div class="card-body">
                    <img class="image-fluid" src="/assets/reinitialisation succes/check.png" alt="hello">
                    <span class="mx-2 fw-bold" >Réinitialisation effectuée avec succès, cliquez sur le bouton pour vous connecter </span>
                  </div>
                </div>
              </div>
              <div class="col-12 my-5 text-center">
                  <button type="button" (click)="onSubmit()" class="btn btn-lg fw-bold text-white px-5" style="background-color: #083699;" >Se connecter</button>
              </div>
          </div>               
        </div>
    </div>   
  </div>