.rouge
{
    color: white !important;

    &:hover 
    {
        color: red !important;
    }
}

.btn_connexion
{
    background-color: red;
    &:hover 
    {
        background-color:white !important ;
    }
}