<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Inknut+Antiqua:wght@300&family=Jacques+Francois+Shadow&family=Kavoon&family=Kelly+Slab&family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<div class="container sti">
<div class="row">
    <div class="col-10 offset-2">
        <p  class="citation " style="margin-top: 80px;">
            “Construisez vos propres reves, ou quelqu’un d’autre va vous        
            embaucher <br>pour construire les siens ”<br>
         
        </p>
    </div>
    <div class="col-7 offset-5">
        <p class=" auteur">
            Farrah Gris
        </p>
    </div>
  
</div>
<div class="row">
    <div class="col-10 offset-1 " *ngFor="let video of videos">
        <iframe class="embed-responsive-item h-sd-auto d-inline-block" [src]="video.path | safe "  title="Etudes en France procédure 2022/2023, les démarches de A à Z sur Campus France 🇫🇷" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br> <br>
    </div>
    <div class="col-1">

    </div>
    <section class="container mt-5">
        <h3 class="text-center couleur_titre">Aperçu</h3> <br> <br>
        <p class="texte fs-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute  esse cillum 
        </p>
        <p class="texte fs-5">
           
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute  esse cillum dolore eu fugiat nulla pariatur. 
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> <br>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ris nisi ut aliquip ex ea commodo consequat. Duis aute  esse cillum 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute  esse cillum dolore eu fugiat nulla pariatur. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ris nisi ut aliquip ex ea commodo consequat. Duis aute  esse cillum 
        </p> <br><br>
        <p class="text-end texte_coaching">   
            Pour suivre nos séances de coaching payantes, cliquez sur le bouton 
            <a href="formation/payante">
                <button type="button" class="jello-horizontal btn btn-danger btn-lg btn_coaching">Coaching</button>
            </a>
        </p>
        
   </section>
        
   </div>
</div>

<h3 class="fw-bold text-center" > <br> Consultez nos documents pdf<br></h3>
  <div class="container">
    <div class="row" style="margin-bottom: 25px;">
      <div class="container">
        <div class="col">
          <table class="table" >
            <thead >
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Document</th>
                <th *ngIf="admin ==='1'" scope="col">option</th>
            </tr>
            </thead>
            <tbody *ngFor="let pdf of pdf" >
            <tr>
                <td>{{pdf.id_pdf}} </td>
                <td><a href="http://{{pdf.path}}" target="_blank">{{pdf.nom}} </a></td>
                <td *ngIf="admin ==='1'" class="supp" (click)="onDeletePdf(pdf.id_pdf)">supprimer</td>
              </tr>
            </tbody>
        </table>
          
        </div>
      </div>
    </div>
  </div>

<div *ngIf="admin ==='1'">
    <a href="formation/liste" (click)="supprimer()">
        <svg xmlns="http://www.w3.org/2000/svg" style="color :blue" width="52" height="32" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
        </svg>
    </a>
    <a>
    <svg xmlns="http://www.w3.org/2000/svg" (click)="onModifyFormation()" style="color :blue" width="52" height="32" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
    </a>
    <a>
        <svg xmlns="http://www.w3.org/2000/svg" (click)="addPdf()" style="color : blue" width="52" height="32" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 
            0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.
            237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422
            .8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
        </svg>
    </a>   
</div>