.ro {
    display: flex; /* Utiliser flexbox */
    align-items: center; /* Centrer verticalement */
}

a {
    margin-right: 10px; /* Espacement entre les éléments */
}

.supprimer
{
    :hover
    {
        color: red;
        background-color: red;
    }
}