.entete
{
   // background-color: #1283EB;
    padding: 1.5rem;
    margin-bottom: 35px;
    height: 65px;
}

.nav
{
    background-color: #1283EB;
    margin-bottom: 35px;
    
}
.texte_souligne {
  text-decoration: none; // Enlevez le soulignement de base
  &:hover {
    text-decoration: underline; // Ajoutez un soulignement au passage de la souris
  }
}


