
<nav class="navbar navbar-expand-md bg" style="z-index: 9999;">
  
  <div class="container" style="width: 500px;">
      <a class="navbar-brand ms-3" href="">
        <img src="/assets/France-Etude rond 1.png" alt="" width="70" class="heartbeat"  height="70">
      </a>
       <button class="navbar-toggler me-3 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#btn" >
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="26" fill="currentColor" class="bi bi-list bx-md" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
  </div> 
   
  <div class="collapse navbar-collapse ul-bg" id="btn">
    <ul class="navbar-nav " >
      <li class="nav-item">
        <a href="" class="nav-link mx-4 text-white fs-5 " > Accueil</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white fs-5 mx-4"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Nos services
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="p-3"><a class="dropdown-item" href="formation/liste">Formation</a></li>
          <li><hr class="dropdown-divider"></li>
          <li class="p-3" ><a class="dropdown-item" href="accueil/campus_france">Campus France</a></li>
          <li><hr class="dropdown-divider"></li>
          <li class="p-3" ><a class="dropdown-item" href="accueil/visa">Visa France</a></li>
        </ul>
      </li>
      
      <li class="nav-item">
        <a href="accueil/a_propos" class="nav-link mx-4 text-white fs-5" > A propos</a>
      </li>
      <li class="nav-item">
        <a href="authentification/connexion" class="nav-link mx-4 text-white fs-5" > Connexion</a>
      </li>
    </ul>
  </div>
</nav>

