
<nav class="navbar navbar-expand-md bg">
  
  <div class="container" style="width: 500px;">
      <a class="navbar-brand fs-3 ms-5" href="">
        <img src="/assets/France-Etude zoom.jpg" alt="" width="70" class="heartbeat" style=" border-radius: 50%;" height="44">
      </a>
  </div> 
 <!-- <a href="" class="navbar-brand fs-3 ms-4 text-white" > France-Etude</a> -->
    <button class="navbar-toggler me-3 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#btn" >
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="26" fill="currentColor" class="bi bi-list bx-md" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
  <div class="collapse navbar-collapse ul-bg" id="btn">
    <ul class="navbar-nav " >
      <li class="nav-item">
        <a href="" class="nav-link mx-4 text-white fs-5 " > Accueil</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white fs-5 mx-4"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Nos services
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="p-3"><a class="dropdown-item" href="formation/liste">Formation</a></li>
          <li><hr class="dropdown-divider"></li>
          <li class="p-3" ><a class="dropdown-item" href="accueil/campus_france">Campus France</a></li>
          <li><hr class="dropdown-divider"></li>
          <li class="p-3" ><a class="dropdown-item" href="accueil/visa">Visa France</a></li>
        </ul>
      </li>
      
      <li class="nav-item">
        <a href="accueil/a_propos" class="nav-link mx-4 text-white fs-5" > A propos</a>
      </li>
      <li class="nav-item">
        <a href="authentification/connexion" class="nav-link mx-4 text-white fs-5" > Connexion</a>
      </li>
    </ul>
  </div>
</nav>

    <!--
          <nav class="nav navbar navbar-expand-md fixed-top navbar-light   container-fluid  " >
        <div class="container">
            <div>
              <div class="d-inline" style="margin-right: 10px;">
                <a href="" class=" navbar-brand text-uppercase text-white">France-Etude</a>
              </div>
              
              <div class="d-inline" >
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
              </div> 
            </div>
            <div class="col-11 collapse navbar-collapse justify-content-center offset-1" id="navbarNav">
              <ul class="navbar-nav me-auto my-14 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
                  <li class="nav-item px-4">
                      <a href=" "  class="nav-link  rouge texte_souligne px-3">Accueil</a>
                  </li>
                  <li class="nav-item text-white ">
                      <a href="formation/liste" class="nav-link  rouge texte_souligne px-3"  >Formations</a>
                  </li>
                  <li class="nav-item   ">
                      <a href="accueil/campus_france"class="nav-link  rouge texte_souligne px-3" >Campus France</a>
                  </li>
                  <li class="nav-item   ">
                    <a href="accueil/visa"class="nav-link rouge  texte_souligne px-3" >Visa France</a>
                  </li>
                  <li class="nav-item">
                      <a href="accueil/a_propos" class="nav-link  rouge texte_souligne px-3" >A propos</a>
                  </li>
                  <li class="nav-item">
                      <a href="authentification/connexion" class="nav-link rouge texte_souligne px-3 " >Connexion</a>
                  </li>
              </ul>
              
               </div>
          </div>
   </nav>
  -->