<div class="row mx-2" style="margin-top: 30px;">
    <div class="col-12">
        <p  class="citation text-center" style="margin-top: 30px;">
            “Le succès n'est pas la clé du bonheur. Le bonheur est la clé du succès.
            Si vous aimez ce que vous faites, vous réussirez ”<br>
        </p>
    </div>
    <div class="col-7 offset-5">
        <p class=" auteur">
            Albert Schweitzer
        </p>
    </div>

</div>    
    <div class="row mx-2">
        <div class="col-12">
            <iframe class="embed-responsive-item h-sd-auto d-inline-block" src="https://www.youtube.com/embed/eHzk5IRGxtQ" title="Etudes en France procédure 2022/2023, les démarches de A à Z sur Campus France 🇫🇷" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row mx-2">
        <div class="cercle-deforme"></div>
        <div class="cercle-deforme-fin mx-5"></div>
        <p class="text-center mt-4" style="color: #FCA129;">Obtenez votre visa</p>
        <h1 class="text-center fs-3 fw-bold mb-4 mt-3">
            Pour la France en Toute Sérénité , Suivez ces étapes clés pour réussir votre demande sans stress !
        </h1>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-row justify-content-center">
            <div class="card rounded-3 mx-2 my-3 border border-primary shadow-lg col-12 col-md-0 " style="width: 22rem; height: 22rem;;">
                <div class="card-body"> 
                    <div class="d-flex flex-row justify-content-between">
                        <div class="circle-container mt-1"> 
                            <span class="fs-3 fw-bold mx-2" style="color: white;">01</span>
                        </div>
                    </div>
                    <p class="fs-5 fw-bold text-center p-1 mt-4 mb-4" style="color: #FCA129;" >Préparation des Documents</p>
                    <p class="card-text p-1">
                        Rassemblez tous les documents requis, tels que le formulaire de demande de visa dûment rempli, 
                        une lettre d'admission de l'établissement d'enseignement, un certificat d'hébergement, des preuves de ressources financières, 
                        une assurance santé, etc.
                    </p>
                </div>
            </div>  
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-row justify-content-center">
            <div class="card rounded-3 mx-2 my-3 border border-primary shadow-lg col-12 col-md-0 " style="width: 22rem; height: 22rem;">
                <div class="card-body"> 
                    <div class="d-flex flex-row justify-content-between">
                        <div class="circle-container mt-1">
                            <span class="fs-3 fw-bold mx-2" style="color: white;">02</span>
                        </div>
                    </div>
                    <p class="fs-5 fw-bold text-center p-1 mt-4 mb-4" style="color: #FCA129;" >Entretien au Consulat</p>
                    <p class="card-text p-1">
                        Préparez-vous soigneusement pour l'entretien au consulat. Soyez prêt à expliquer votre projet d'études, vos motivations, et à 
                        répondre à toutes les questions posées par l'officier consulaire.
                    </p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-row justify-content-center">
            <div class="card rounded-3 mx-2 my-3 border border-primary shadow-lg col-12 col-md-0 " style="width: 22rem; height: 22rem;">
                <div class="card-body"> 
                    <div class="d-flex flex-row justify-content-between">
                        <div class="circle-container mt-1">
                            <span class="fs-3 fw-bold mx-2" style="color: white;">03</span>
                        </div>
                    </div>
                    <p class="fs-5 fw-bold text-center p-1 mt-4 mb-4" style="color: #FCA129;" >Suivi de la Demande</p>
                    <p class="card-text p-1">
                        Après avoir soumis votre demande, suivez régulièrement son statut en utilisant les outils en ligne fournis par le consulat. 
                        Restez informé des éventuelles mises à jour.
                    </p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-row justify-content-center">
            <div class="card rounded-3 mx-2 my-3 border border-primary shadow-lg col-12 col-md-0 " style="width: 22rem; height: 22rem;">
                <div class="card-body"> 
                    <div class="d-flex flex-row justify-content-between">
                        <div class="circle-container mt-1">
                            <span class="fs-3 fw-bold mx-2" style="color: white;">04</span>
                        </div>
                    </div>
                    <p class="fs-5 fw-bold text-center p-1 mt-4 mb-4" style="color: #FCA129;" >Prise de Rendez-vous</p>
                    <p class="card-text p-1">
                        Prenez rendez-vous auprès du consulat français dans votre pays de résidence. Certains consulats permettent la prise de rendez-vous en 
                        ligne.
                    </p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-row justify-content-center">
            <div class="card rounded-3 mx-2 my-3 border border-primary shadow-lg col-12 col-md-0 " style="width: 22rem; height: 22rem;">
                <div class="card-body"> 
                    <div class="d-flex flex-row justify-content-between">
                        <div class="circle-container mt-1">
                            <span class="fs-3 fw-bold mx-2" style="color: white;">05</span>
                        </div>
                    </div>
                    <p class="fs-5 fw-bold text-center p-1 mt-4 mb-4" style="color: #FCA129;" >Paiement des Frais de Visa</p>
                    <p class="card-text p-1">
                        Effectuez le paiement des frais de visa, le cas échéant, selon les modalités spécifiées par le consulat.
                    </p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-row justify-content-center">
            <div class="card rounded-3 mx-2 my-3 border border-primary shadow-lg col-12 col-md-0 " style="width: 22rem; height: 22rem;">
                <div class="card-body"> 
                    <div class="d-flex flex-row justify-content-between">
                        <div class="circle-container mt-1">
                            <span class="fs-3 fw-bold mx-2" style="color: white;">06</span>
                        </div>
                    </div>
                    <p class="fs-5 fw-bold text-center p-1 mt-4 mb-4" style="color: #FCA129;" >Attente de la Décision</p>
                    <p class="card-text p-1">
                        Soyez patient pendant le processus de traitement de la demande. Les délais peuvent varier, mais restez attentif aux communications 
                        du consulat.
                    </p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-md-6">
            <div class="card rounded-3 mx-2 my-3 border border-primary shadow-lg col-12 col-md-0 ">
                <div class="card-body"> 
                    <div class="d-flex flex-row justify-content-between">
                        <div class="circle-container mt-1">
                            <span class="fs-3 fw-bold mx-2" style="color: white;">07</span>
                        </div>
                    </div>
                    <p class="fs-5 fw-bold text-center p-1 mt-4 mb-4" style="color: #FCA129;" >Récupération du Visa </p>
                    <p class="card-text p-1">
                        Une fois la décision prise, récupérez votre visa au consulat.Assurez-vous de respecter la date de début de validité indiquée sur le visa.
                    </p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-md-6">
            <div class="card rounded-3 mx-2 my-3 border border-primary shadow-lg col-12 col-md-0 ">
                <div class="card-body"> 
                    <div class="d-flex flex-row justify-content-between">
                        <div class="circle-container mt-1">
                            <span class="fs-3 fw-bold mx-2" style="color: white;">08</span>
                        </div>
                    </div>
                    <p class="fs-5 fw-bold text-center p-1 mt-4 mb-4" style="color: #FCA129;" >Voyage en France</p>
                    <p class="card-text p-1">
                        Avant de voyager, assurez-vous de respecter toutes les conditions spécifiées sur votre visa. À votre arrivée en France, 
                        suivez toutes les procédures d'immigration et de santé requises.
                    </p>
                </div>
            </div> 
        </div>
    </div>
    <div class="row mx-2 mt-5 flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6 col-lg-5 flex-column d-flex justify-content-center">
            <p class="fw-bold lh-sm fs-2">
                Documents <span style="color: #FCA129;">requis </span>pour la demande de visa en France <br>
            </p> <br>
            <span class="mt-3 fs-5 " style="margin-top: 20px;" >
                La procédure Campus France peut être complexe, mais vous n'êtes pas seul ! Avec notre accompagnement expert, 
                nous simplifions chaque étape pour vous.
            </span>
        </div>
        <div class="col-12 col-md-6 col-lg-7">
            <img class="image-fluid" width="80%" height="80%" src="/Visa/une jeune fille avec ces cahier a main.png" alt="hello">
        </div>
    </div>
    <div class="row mx-2 my-4 rounded-5" style="background-color: #D9D9D9;">
        <h1 class="text-center fw-bold my-4" style="color: #FCA129;">Visa étudiant</h1>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold" >1. Passeport</h3>
            <p class="fs-5">
                Assurez-vous que votre passeport est valide pendant toute la durée de votre séjour en France avec au moins deux pages vierges.
            </p>
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold">2. Lettre d'Acceptation de l'Établissement d'Enseignement</h3>
            <p class="fs-5">
                Assurez-vous que votre passeport est valide pendant toute la durée de votre séjour en France avec au moins deux pages vierges.
            </p>
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold">3. Preuve de Financement</h3>
            <p class="fs-5">
                Présentez des documents démontrant votre capacité financière à couvrir vos frais de scolarité et de subsistance.
            </p>
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold">4. Attestation d'Assurance Médicale</h3>
            <p class="fs-5">
                Souscrivez à une assurance médicale couvrant toute la période de votre séjour en France.
            </p>
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold">5. Justificatif de Logement</h3>
            <p class="fs-5">
                Fournissez une preuve de logement en France, que ce soit une attestation d'hébergement ou un bail.
            </p>
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold">6. Formulaire de demande de visa</h3>
            <p class="fs-5">
                Rempli et signé, disponible sur le site Web de l'ambassade ou du consulat de France dans votre pays.
            </p>
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold">7. Photographies</h3>
            <p class="fs-5">
                Conformes aux normes de photographie d'identité françaises.
            </p>
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold">8. Si vous êtes boursier</h3>
            <p class="fs-5"> 
                attestation de bourse
            </p>
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold">9. Le récépissé France-Visas</h3>
            <p class="fs-5">

            </p>
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3 class="fw-bold">10. Photographies</h3>
            <p class="fs-5">
                communiquée par l’application Campus France, avec votre numéro d’identifiant Campus France
            </p>
        </div>
        <p class="fw-bold lh-sm fs-5 p-3">
            Les exigences peuvent varier, alors vérifiez toujours auprès de l’ambassade de France. Chez FranceÉtudes, nous simplifions chaque étape pour vous.
             Explorez nos guides pour des conseils pratiques sur le visa et l’émigration.
        </p>
    </div>
    <div class="row mx-2 mt-5 flex-row">
        <div class="col-12 col-md-12 col-lg-5 flex-column d-flex justify-content-center">
            <p class="fw-bold lh-sm fs-2">
                Les 7 Motifs de <span style="color: #FCA129;">refus </span> de Visa Étudiant en France Décryptés. <br>
            </p> <br>
            <span class="mt-3 fs-5 " style="margin-top: 20px;" >
                Vous rêvez d’étudier en France ? Ne laissez pas un refus de visa freiner votre ambition ! Découvrez les 7 motifs de refus de visa étudiant 
                définis par l’ambassade de France, avec des explications détaillées et des solutions pour les anticiper et les surmonter.
            </span>
        </div>
        <div class=" col-0 col-md-0 col-lg-1">

        </div>
        <div class="col-12 col-md-12 col-lg-4 d-flex justify-content-between">
            <img class="image-fluid mt-5" width="90%" height="90%" src="/Visa/un homme elegant.png" alt="hello">
        </div>
    </div>
<div class="row mx-2 my-4 rounded-5 p-5" style="background-color: #D9D9D9;">
    <!--1ème  -->
    <h1 class="fw-bold text-center fs-4 my-5">1. Le document de voyage présenté est faux/falsifié</h1>
    <p class="fs-5">
        Ce motif de refus se concentre sur la véracité des documents de voyage présentés. Si les autorités consulaires découvrent que le document de 
        voyage est faux ou falsifié, cela entraînera inévitablement un refus de visa.
    </p>
    <p class="fs-5">
        Assurez-vous toujours de présenter des documents de voyage authentiques et légitimes lors de votre demande de visa. 
        La présentation de faux documents non seulement entraînera le rejet de votre demande, mais peut également avoir des conséquences juridiques graves,
            notamment des poursuites pour faux et usage de faux.
    </p>
    <p class="fs-5">
        La confiance dans l'intégrité de vos documents est cruciale pour une demande de visa réussie. Veillez à obtenir des documents légaux et 
        authentiques avant de soumettre votre demande, car la falsification de documents peut entraîner des conséquences sérieuses, 
        y compris une interdiction de territoire
    </p>
    <!--2ème  -->
    <h1 class="fw-bold text-center fs-4 my-5">2. Vous n’avez pas fourni la preuve que vous disposez de ressources suffisantes pour couvrir les frais de toute nature, durant le séjour en France, ou vous n’êtes pas en mesure d’acquérir légalement ces moyens</h1>
    <p class="fs-5">
        Ce motif revient fréquemment et met en lumière un élément crucial : l'absence de preuves démontrant votre capacité financière pour couvrir les 
        dépenses de votre séjour en France, soit l'équivalent de 615 €/mois minimum pour au moins une année. Lors de votre demande de visa étudiant, 
        il est essentiel de présenter un dossier financier solide. Le consulat ne prendra pas de risques avec des candidats incapables de fournir des 
        preuves claires de leur capacité financière. Étant donné que votre projet implique une année d'études en France, une préparation minutieuse 
        s'impose.
    </p>
    <!--3ème  -->
    <h1 class="fw-bold text-center fs-4 my-5">3. Vous n’avez pas justifié de votre admission dans un établissement d’enseignement supérieur ou dans un organisme de formation professionnelle pour y suivre un cycle d’études</h1>
    <p class="fs-5">
        Généralement, l'absence d'inscription n'est pas le principal problème, car lors du dépôt de votre dossier, vous avez fourni une attestation 
        d'inscription. Cependant, il est essentiel de vérifier minutieusement que cette inscription provient d'un établissement d'enseignement habilité.
    </p>
        <!--4ème  -->
        <h1 class="fw-bold text-center fs-4 my-5">4. Vous n’avez pas présenté d’éléments suffisants permettant à l’autorité consulaire de s’assurer que votre séjour en France à des fins d’études ne présenterait pas un caractère abusif</h1>
        <p class="fs-5">
        Ce motif de refus, souvent lié à des dossiers mal préparés ou à un caractère abusif, peut être délicat à évaluer en raison de sa nature 
        subjective et vague. Bien que Campus France examine soigneusement le projet d'études, seules les autorités consulaires ou diplomatiques 
        ont le pouvoir de décider d'accorder ou de refuser un visa d'étudiant en France.
        </p>
        <p class="fs-5">
        Ce refus peut également être lié au caractère abusif du séjour, visant à s'assurer que les étudiants étrangers ont des projets d'études 
        sérieux et cohérents, évitant tout contournement des règles d'immigration ou exploitation du système éducatif français.
        </p>
        <p class="fs-5">
        Pour l'éviter, il est recommandé d'éviter les changements fréquents ou injustifiés dans le choix de formation ou d'établissement,
            de préparer soigneusement le projet d'étude et professionnel pour assurer une cohérence, de fournir des preuves solides de l'intention 
            de retourner dans le pays d'origine, et de respecter la durée demandée du visa.
        </p>
        <!--5ème  -->
        <h1 class="fw-bold text-center fs-4 my-5">5. Les informations communiquées pour justifier les conditions de séjour sont incomplètes et/ou ne sont pas fiables</h1>
        <p class="fs-5">
        Ce motif de refus se concentre sur l'aspect crucial de la transparence et de la fiabilité des informations fournies pour justifier les 
        conditions de séjour. Les autorités consulaires cherchent des informations complètes et fiables, et tout manque de clarté peut entraîner 
        un refus de visa.
        </p>
        <p class="fs-5">
        Assurez-vous que toutes les informations que vous communiquez sont fiables et vérifiables. Les autorités consulaires accordent une grande 
        importance à la crédibilité des informations fournies, et tout doute sur leur exactitude peut entraîner un refus.
        </p>
        <p class="fs-5">
        En plus des documents obligatoires, il peut être utile d'ajouter des éléments supplémentaires qui renforcent votre dossier, tels que des 
        lettres de recommandation, des contrats de logement , ou des preuves de liens familiaux dans votre pays d'origine.
        </p>
        <p class="fs-5">
        La préparation minutieuse et la transparence totale dans la communication des informations contribueront grandement à éviter ce motif de refus et 
        à renforcer la crédibilité de votre demande de visa étudiant pour la France.
        </p>
        <!--6ème  -->
        <h1 class="fw-bold text-center fs-4 my-5">6. Vous faites l’objet d’une mesure vous interdisant le retour sur le territoire français</h1>
        <p class="fs-5">
        Ce motif de refus souligne une mesure particulière : une interdiction de retour sur le territoire français. Il peut s'appliquer aux étudiants 
        ayant déjà vécu en France et faisant l'objet d'une décision administrative d'interdiction de retour, généralement pour non-respect d'une décision 
        antérieure d'expulsion.
        </p>
        <p class="fs-5">
        Il est impératif de respecter toutes les décisions administratives précédentes et de ne pas enfreindre les règles de séjour en France. 
        Une interdiction de retour peut durer jusqu'à trois ans, en fonction de la nature de la violation.
        </p>
        <p class="fs-5">
        Pour éviter cette situation, assurez-vous de respecter toutes les décisions administratives précédentes, de quitter le territoire français 
        conformément aux délais établis, et de vous conformer strictement aux règles d'immigration. Une approche respectueuse des lois et 
        des décisions administratives antérieures est essentielle pour éviter ce motif de refus.
        </p>
                <!--7ème  -->
        <h1 class="fw-bold text-center fs-4 my-5">7. Vous présentez un risque de menace pour l’ordre public/la sécurité publique/la santé publique</h1>
        <p class="fs-5">
        Ce motif de refus met en évidence des préoccupations relatives à la sécurité et à la santé publique. Les autorités consulaires peuvent refuser 
        un visa si elles estiment qu'il existe un risque potentiel que le demandeur représente une menace pour l'ordre public, la sécurité publique, 
        ou la santé publique en France.
        </p>
        <p class="fs-5">
        Il est crucial de noter que ce motif peut découler d'informations indiquant des antécédents criminels, des condamnations pénales, ou 
        des problèmes de santé susceptibles de poser un risque de contagion
        </p>
        <p class="fs-5">
        Pour éviter ce motif de refus, il est essentiel de maintenir un dossier judiciaire propre, de respecter les lois et règlements, et de veiller à 
        ce que votre état de santé ne constitue pas une menace pour la santé publique en France. Des examens médicaux préalables et la fourniture de 
        certificats de bonne santé peuvent renforcer votre demande et atténuer tout risque perçu par les autorités consulaires.
        </p>
</div>
<div class="row mx-2 mt-5 mx-1 " style="background-color: #144484;">
    <div class="col-12 col-lg-6 text-white p-5 flex-column d-flex justify-content-center" >
        <h1 class="fw-bold text-center text-white fs-3 mb-5">Difficultés <span style="color: #FCA129;">Majeures</span> Lors de la Demande de Visa</h1>
        <!--1er  -->
        <h1 class="fw-bold text-center fs-4" style="color: #FCA129;">1. Complexité des Procédures</h1>
        <p class="fs-5 mb-5">
            La procédure de demande de visa peut être complexe, avec des exigences spécifiques et des formalités administratives. Nombreux sont ceux qui 
            se sentent dépassés par les étapes à suivre.
        </p>
        <!--2ème  -->
        <h1 class="fw-bold text-center fs-4" style="color: #FCA129;">2. Risques de Refus de Visa</h1>
        <p class="fs-5 mb-5">
            Les demandeurs peuvent craindre le refus de visa en raison de motifs variés tels que des documents incomplets, des erreurs dans le dossier, 
            ou des préoccupations concernant leur situation personnelle.
        </p>
        <!--3ème  -->
        <h1 class="fw-bold text-center fs-4" style="color: #FCA129;">3. Manque d'Informations Fiables</h1>
        <p class="fs-5 mb-5">
            Trouver des informations fiables et à jour peut être difficile. Les demandeurs peuvent se sentir perdus dans la recherche d'informations précises.
        </p>
    </div>
    <div class="col-12 col-lg-6">
        <div class="d-flex flex-row justify-content-center" >
            <img class="image-fluid my-5" width="70%" height="70%" src="/Visa/un homme triste.png" alt="hello">
        </div>
    </div>
</div>
<div class="row mt-5 mx-2 rounded-5" style="background-color: #D9D9D9;" >
    <div class="col-12 col-lg-5 p-5 d-flex flex-column justify-content-center">
        <h1 class="fw-bold fs-3 mt-5 mb-3">Des difficultés avec votre demande de visa ? <span style="color: #FCA129;">Nous avons la solution</span></h1>
        <p class="fs-5 mb-5">
            Avec notre accompagnement sur mesure, surmontez tous les défis et mettez toutes les chances de votre côté. 
        </p>
        <!--1er  -->
        <h1 class="fw-bold text-center fs-4">1. Assistance Personnalisée à Chaque Étape</h1>
        <p class="fs-5 mb-5">
            Dites adieu à la confusion ! Notre service simplifie les procédures complexes en fournissant une assistance personnalisée à chaque étape de 
            votre demande de visa. Des conseils clairs et une guidance étape par étape garantissent que vous ne vous sentirez jamais perdu.
        </p>
            <!--2ème  -->
            <h1 class="fw-bold text-center fs-4">2. Optimisation des Chances d'Approbation</h1>
            <p class="fs-5 mb-5">
            Évitez les nuits blanches à craindre le refus de visa. Grâce à notre expertise, nous vous offrons des conseils spécifiques pour anticiper 
            et éviter les motifs de refus courants, maximisant ainsi vos chances d'approbation.
            </p>
        <!--3ème  -->
            <h1 class="fw-bold text-center fs-4">3. Sources d'Informations Fiables et à Jour</h1>
            <p class="fs-5 mb-5">
            Fini le casse-tête de la recherche d'informations. Notre site propose des informations détaillées et constamment mises à jour. 
            En plus, notre accompagnement personnalisé est votre source infaillible pour des conseils sur mesure, répondant à vos 
            besoins uniques
            </p>
            <p class="fw-bold fs-5 mt-4">
            Envie d'en savoir davantage? Cliquez sur le bouton afin de suivre nos formations gratuites
            </p>
            <button class="rounded-pill fw-bold my-5 p-2 text-white fs-5" (click)="onViewFormation()" style="background-color:#1661C4; width: 250px;">
            <img class="image-fluid" width="10%" height="65%" src="/Formation gratuite unique/play icon.png" alt="hello">
            formation gratuites
        </button>
    </div>
    <div class=" col-12 col-lg-7">
        <div class="d-flex flex-row justify-content-center" >
            <img class="image-fluid my-5" width="70%" height="70%" src="/Visa/illustration 1.png" alt="hello">
        </div>
    </div>
</div>