<div class="container">
  <div class="row">
      <div class="mt-5 text-center">               
          <p class="text-center texte couleur_titre display-4 fw-bold" style="color: orange;" >Entrez les jours indisponibles : </p>
      </div>
  </div>
  <form [formGroup]="dateIndisponibleForm" class="row mt-5 d-flex justify-content-center">
      <div class="d-flex justify-content-center">
        <mat-form-field appearance="fill">
          <mat-label>Choisissez une date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  <div class="row d-flex justify-content-center mt-5 ">
    <p class="text-center">
        <button type="button" (click)="onSubmit()" [disabled]="dateIndisponibleForm.invalid" class="btn btn-danger text-center rouge btn-lg btn_coaching text-black" style="background-color: white;"> <strong>Ajouter</strong> </button>
    </p>
  </div>


  <div class="row" *ngIf="affichage ===true" >
    <div class="mt-5 text-center">               
        <p class="text-center texte couleur_titre display-4 fw-bold" style="color: orange;" >Vos jours indisponibles :  </p>
    </div>
    <mat-card class="scrollable-card">
        <div class="scrollable-content">
            <section class="container" style="margin-top: 30px ;">
                <table class="table" >
                    <thead >
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Jours</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let jour of liste$ | async, let i=index ">
                    <tr>
                        <td>{{i+1}} </td>
                        <td class="fw-bold" >{{jour.date | date: 'd MMMM yyyy'}}</td>
                        <td style="cursor: pointer;"><span  class="material-icons" style="color: red;" >unpublished</span></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </mat-card>
</div>

</div>

