<p class="text-center texte display-6 fw-bold mt-4 mb-4 mx-3" style="color: #1283EB;" >Mentions légales </p>
<div class="row fs-6 que_faisons_nous mx-3">
    <div class="">
        <span class="fw-bold fs-3 ">I) À propos de nous</span>
        <ul class="mt-4">
            <li class="mt-3">
                <span class="fs-5"> Propriétaire : </span>
                <span class="fw-bold fs-6 que_faisons_nous mx-3" style="font-style: italic;" > FranceÉtudes, france.etudes237&#64;gmail.com </span>
            </li>
            <li class="mt-3">
                <span class="fs-5"> Hébergeur du site : </span>
                <span class="fs-6 que_faisons_nous mx-3 fw-bold">Hostinger : Hostinger, 34, rue Švitrigailos, 03230</span>
            </li>
            <li class="mt-3">
                <span class="fs-5"> Éditeur : </span> <br>
                <span class="" >
                    <span class="fw-bold font-italic fs-6 que_faisons_nous mx-3 " style="font-style: italic;" >ANGO Farnel Junior Givera</span> Développeur Front-end <br>
                    <span class="fw-bold font-italic fs-6 que_faisons_nous mx-3 " style="font-style: italic;" > NZOKOU FOTSO Franck Émerites</span> Développeur Back-end <br>
                    <span class="fw-bold font-italic fs-6 que_faisons_nous mx-3 " style="font-style: italic;" >TAYIMKA TAZANOU arouna nelson</span> Designer Web  
                </span>
            </li>
            <li class="mt-3">
                <span class="fs-5 "> Contact : </span>
                <ul>
                    <li class="fs-6 que_faisons_nous mx-3">
                        <span class="fw-bold" >Téléphone : </span> +330-780-465-075
                    </li>
                    <li class="fs-6 que_faisons_nous mx-3">
                        <span class="fw-bold">WhatsApp : </span> +330-780-465-075
                    </li>
                    <li class="fs-6 que_faisons_nous mx-3">
                        <span class="fw-bold">Email : </span> france.etudes237&#64;gmail.com
                    </li>
                </ul>
            </li>
        </ul>
        <span class="fw-bold fs-3 my-4">II) Description des services fournis.</span>
        <p class="fs-6 que_faisons_nous mx-3">
            Le site <a href="https://franceétudes.com/">FranceÉtudes.com</a>  a pour objectif de faciliter le processus d'immigration vers la France dans le but
            de la poursuite d'études. <br><br>
            Il prodigue des informations à ses visiteurs et met à leurs dispositions des formations leur permettant de mieux 
            se préparer pour leurs projets d'immigration. Une formation est un ensemble constitué d'images, vidéos et de documents
            textuels. <br><br>
            Tous les informations indiquées sur le site <a href="https://franceétudes.com/">FranceÉtudes.com</a>  sont données à titre indicatif, 
            et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site 
            ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant 
            été apportées depuis leur mise en ligne. 
        </p>
        <span class="fw-bold fs-3 my-4">III) Limitations de responsabilité.</span>
        <p class="fs-6 que_faisons_nous mx-3">
            FranceÉtudes ne pourra être tenue responsable d'un quelconque échec dans le processus d'immigration
            de ses visiteurs car il ne garantit pas la réussite de la procédure. <br><br>
            FranceÉtudes ne pourra être tenue responsable d'aucun problème surgissant dû aux technologies 
            utilisées pour le développement du site. <br><br>
            FranceÉtudes ne pourra également être tenue responsable des dommages indirects 
            (tels que par exemple que la perte d'une opportunité ou de toute autre chose) consécutifs à l’utilisation du 
            <a href="https://franceétudes.com/">FranceÉtudes.com</a>.
        </p>
        <span class="fw-bold fs-3 my-4">IV) Gestion des données personnelles.</span>
        <p class="fs-6 que_faisons_nous mx-3">
            FranceÉtudes se dédouane de toute responsabilité dûe à une fuite de données résultant d'une faille de 
            sécurité des différentes technologies utilisées pour la réalisation du site <a href="https://franceétudes.com/">FranceÉtudes.com</a>.
            Pour en savoir plus sur la gestion des données personnelles veuillez consulter notre 
            <a href="https://franceétudes.com/confidentialite">politique de confidentialité</a> 
        </p>
    </div>
</div>