<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Inknut+Antiqua:wght@300&family=Jacques+Francois+Shadow&family=Kavoon&family=Kelly+Slab&family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<div class="container">
    <div class="row d-flex justify-content-center" style="margin-top: 80px;">
        <div data-aos="zoom-in-right"  data-aos-duration="2000" class="col-12 col-md-7 ">
            <iframe class="mb-5" src="https://www.youtube.com/embed/oj74waKj6mI" title="J&#39;ai Fait Ça Pour Avoir 04 Acceptations sur CAMPUS FRANCE !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="citation text-center ">
                “c’est votre attitude, bien plus que votre aptitude, qui determine votre altitude” <br>
                <span class="auteur "> Zig Ziglar</span> 
            </p>
        </div>
        <div class="col-12 col-md-3 ">
            <img class="" src="/assets/presentation.jpeg" alt="">
            <p class="text-end">
                fondateur de france-étude
            </p>
        </div>
    </div>
</div>
<section data-aos="flip-left"  data-aos-duration="2000" class="mt-5 qui_sommes_nous">
    <h2 class="text-center">Qui sommes nous? </h2>
    <p class="p-5 pt-3">
        obtention de visa, logement , la préparation à campus france sont des étapes fondementales dans le processus d’immigration. De ce fait, se préparer à les affronter est essentiel si l’ont veut ... 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
</section>
<section class="container mb-5 section_histoire" >
    <div class="row">
        <div data-aos="fade-left" data-aos-duration="2000" class="col-6">
            <h2 class="text-center">Notre histoire </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute  esse cillum
            </p>
        </div>
        <div data-aos="fade-right" data-aos-duration="2000" class="col-6"> 
            <h2 class="text-center">Nos services </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute  esse cillum
            </p>
        </div>
    </div>
</section>