<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Inknut+Antiqua:wght@300&family=Jacques+Francois+Shadow&family=Kavoon&family=Kelly+Slab&family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<div class="container">
    <div class="row d-flex justify-content-center" style="margin-top: 80px;">
        <div data-aos="zoom-in-right"  data-aos-duration="2000" class="col-12 col-md-7 ">
            <iframe class="mb-5" src="https://www.youtube.com/embed/oj74waKj6mI" title="J&#39;ai Fait Ça Pour Avoir 04 Acceptations sur CAMPUS FRANCE !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="citation text-center ">
                “c’est votre attitude, bien plus que votre aptitude, qui determine votre altitude” <br>
                <span class="auteur "> Zig Ziglar</span> 
            </p>
        </div>
        <div class="col-12 col-md-3 ">
            <img class="" src="/assets/presentation.jpeg" alt="">
            <p class="text-end">
                fondateur de france-étude
            </p>
        </div>
    </div>
</div>
<section data-aos="flip-left"  data-aos-duration="2000" class="mt-5 qui_sommes_nous">
    <h2 class="text-center fw-bold ">Notre histoire </h2>
    <p class="p-5 pt-3 texte fs-5">
        Durant ma procédure pour la France, j'ai fait face à une série de défis déconcertants. 
        Le manque de logement a été l'une de mes premières épreuves, aggravé par l'abandon soudain d'un ami
        qui avait promis de m'héberger. À mon arrivée en France, sans repères et dans un état d'incertitude,
        je me suis retrouvé confronté à l'angoisse de la rentrée académique déjà commencée. <br> <br>
        Ce moment difficile a été un véritable déclic. Confronté au traumatisme de ne pas avoir de logement,
        d'être abandonné à la gare, et de ne pas savoir quelles démarches entreprendre, 
        j'ai décidé de transformer cette épreuve en opportunité. C'est ainsi qu'est née <span class="fw-bold">"FranceÉtudes" </span> .
        Mon objectif : <span class="fw-bold">aider le maximum de personnes à éviter le cauchemar que j'ai vécu. </span> <br> <br>
        A travers <span class="fw-bold">"FranceÉtudes" </span>, je mets à disposition mon expérience personnelle pour vous guider à travers
         chaque étape complexe de votre aventure étudiante en France. Plus qu'un simple service, c'est une 
         initiative née de l'empathie et du désir de rendre votre parcours sans heurts et couronné de succès. <br><br>
         Bienvenue dans cette aventure où chaque obstacle est une opportunité de créer une histoire d'études en France pleine de réussite. <br>
         
    </p>
    <p class="text-end mx-4">
        Sincèrement, <span class="fw-bold libre-baskerville-bold">  FOUDJO ISMAEL</span> Fondateur de FranceÉtudes.
    </p>
</section>
<section class="container mb-5 section_histoire" >
    <div class="row">
        <div data-aos="fade-left" data-aos-duration="2000" class="col-12 col-md-6">
            <h2 class="text-center fw-bold " style="color: #1283EB;" >Qui sommes nous ? </h2>
            <p class="text">
                Nous sommes une équipe dédiée à faciliter le parcours des étudiants 
                internationaux vers l'éducation en France. Fondée par <span class="fw-bold">Ismael FOUDJO, </span>  notre structure offre
                 un accompagnement personnalisé pour chaque étape, de la demande de visa à l'intégration 
                 en France. <br> <br>
                Notre mission est de rendre le processus d'études en France aussi simple et sans stress
                 que possible. Avec notre expertise et notre engagement, nous sommes là pour vous aider à 
                 réaliser vos rêves d'études en France.                
        </p>
        </div>
        <div data-aos="fade-right" data-aos-duration="2000" class="col-12 col-md-6"> 
            <h2 class="text-center fw-bold " style="color: #1283EB;" >Nos services </h2>
            <p class="text">
                Rejoignez-nous pour une aventure étudiante en France sans souci. 
                Nous simplifions la procédure de visa, vous guidons à travers <span class="fw-bold" >Campus France </span> , 
                facilitons la recherche de logement, vous aidons à trouver un job étudiant, 
                et restons à vos côtés pour une intégration en douceur et des démarches
                 administratives sans stress. Avec nous, chaque étape devient une opportunité, 
                 pas un obstacle.
            </p>
            <p class="text-end fw-bold" >  L'équipe de FranceÉtudes.</p>
        </div>
    </div>
</section>