<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Inknut+Antiqua:wght@300&family=Jacques+Francois+Shadow&family=Kavoon&family=Kelly+Slab&family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<div class="container">

<div class="row">
    <div class="col-12">
        <img src="/assets/Absolute_Palais_Universitaire_01-1024x768.jpg.webp" class=" image_mobile carrousel rounded float-start" alt="...">
    </div>
    <div class="col"></div>
</div>
<div class="row ">
    <div class="col-12 col-md-6 ">
        <br> <h3 class="text-center text-bold que_faisons_nous fs-bold"> Nous vous accompagnons dans </h3> <br>
        
        <a class="">
             <img src="/assets/sorbonne.jpg" class="images float-center" alt="...">
        </a>
        <a>
            <img src="/assets/campus france.png" class=" images float-center" alt="...">
            <span>
                
            </span>
        </a>
        <a>
            <img src="/assets/Visa.jpeg" class=" images float-center" alt="...">
            <span>
                
            </span>
        </a>
        <a>
            <img src="/assets/agent-immobilier-rediger-cv-1200x628.jpg" class=" images float-center" alt="...">
            <span>
                
            </span>
        </a>      
    </div>
    <div class="col-10 col-md-4 offset-1">
     <br> <h3 class="text-center text-bold que_faisons_nous fs-bold"> Que faisons nous?</h3> <br>
        <p class="que_faisons_nous">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> 
        
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute  esse cillum dolore eu fugiat nulla pariatur. 
     Ut enim ad minim veniam, quis nostrud exercitation ullamco <br> laboris nisi ut aliquip ex ea commodo consequat. Duis aute  esse cillum dolore eu fugiat nulla pariatur. 
         Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
    </div>
    <div class="row m-10">
        <div class="col-10 col-md-7 offset-1  offset-md-0">
            <iframe class="embed-responsive-item m-10" src="https://www.youtube.com/embed/w18osAo51G4" title="Etudes en France procédure 2022/2023, les démarches de A à Z sur Campus France 🇫🇷" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>
        <div class="col-10 col-md-4 offset-1">
           <br> <br> <br>
           <p class="citation">
            “ La seule limite à 
            notre épanouissement
                   de demain sera 
                    nos  doutes 
                 d’aujourd’hui”
            </p>
            <h3 class="auteur">Franklin Delano Roosevelt</h3>
        </div>
    </div>
</div>


<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
<div class="content__container">
<p class="content__container__text">
  
</p>

<ul class="content__container__list">
  <li class="content__container__list__item">Visa !</li>
  <li class="content__container__list__item">Job !</li>
  <li class="content__container__list__item">Logement !</li>
  <li class="content__container__list__item">everybody !</li>
</ul>
</div>
</div>
<div class="container">
    <h1>Carrousel</h1>
    <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
      <!-- Indicateurs -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- Carrousel -->
      <div class="carousel-inner mb-10">
        <div class="carousel-item active" data-interval="4000">
          <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-1.jpg" alt="Carrousel slide 1" class="d-block w-100">
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg" alt="Carrousel slide 2" class="d-block w-100">
        </div>
        <div class="carousel-item" data-interval="1000">
          <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-3.jpg" alt="Carrousel slide 3" class="d-block w-100">
        </div>
      </div>
      
      <!-- Contrôles -->
      <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
      </a>
      <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </div>
  </div>
</div>