@import "~aos/dist/aos.css";


iframe
{
    width: 100%;
    height: 320px;
    margin-top: 10px;
    margin-bottom: 15px;
} 
input {
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inscription:hover
{
  background-color: rgb(220,20,60) !important;
}
.background
{
  background-image: url('/assets/avion qui décolle.jpg');
  width: 1250px;
  height: 650px;
}

.images
{
    height: 250px;
    width: 250px;
    margin: 10px;
    border-radius: 55%;
}
.carrousel
{
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 700px;
    width: 99%;
    position: relative;
    top: 0%;

  
}
.texte_sur_image
{
  color: white;
  position: absolute;
  top: 90%;
  left: 80%
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 900


.bouton_image:hover
{
  background-color: red; // Réinitialisez la transformation de base

}


.arrière_plan
{

  background-color: rgb(220,220,220,0.4); /* Rouge semi-transparent */
  z-index: 2;
 // background-color: rgba(255, 255, 255, 0); /* Blanc semi-transparent */

}

.image_fond
{
  height: 300px ;
  width: 550px;
  border-radius: 55%;
}

.mon-element {
  background: linear-gradient(90deg,  rgb(240,128,128), rgb(220,20,60));
 //background: linear-gradient(90deg, #3a11f0, rgba(18, 131, 235, 0.5));
  color: white; /* Ajouter une couleur de texte blanche */
  text-shadow: 1px 1px 1px rgba(255,255,255,0.2); /* Ajouter une ombre de texte foncée */



}

.mon-element::before {
  position: absolute; /* Position absolue pour le texte */
  top: 50%; /* Centrer le texte verticalement */
  left: 50%; /* Centrer le texte horizontalement */
  transform: translate(-50%, -50%); /* Centrer le texte exactement */
}


.citation
{
    font-family:  "Jacques Francois Shadow";
}

.auteur
{
    font-family: 'Kavoon';
}
.que_faisons_nous
{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular 
{
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.logo_fige
{
  width: 50px;
  position:fixed;
  top: 75%;
  left: 2%;
  z-index: 1;
}
  
  .image_mobile 
  {
    transform: none; // Réinitialisez la transformation de base
    &:hover {
      transform: translate(10px, 10px); // Déplacez l'image de 10 pixels vers la droite et le bas
    }
  }
  
  HTML SCSS JS 

  Result
  Skip Results Iframe

EDIT ON

body {
width: 100%;
height: 100%;
position: fixed;
background-color: #34495e;
}

.rouge:hover 
{
  background-color: red !important;
}

.bouton_blanc:hover
{
  background-color: white !important;
  color : red !important;
}


.content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 160px;
overflow:hidden;

font-family: 'Lato', sans-serif;
font-size: 35px;
line-height: 40px;
color: #ecf0f1;

&__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;

  &:before {
    content: '[';
    left: 0;
  }

  &:after {
    content: ']';
    position: absolute;
    right: 0;
  }

  &:after, &:before {
    position: absolute;
    top: 0;
    
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &__text {
    display: inline;
    float: left;
    margin: 0;
  }

  &__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    &__item {
      line-height:40px;
      margin:0;
    }
  }
}
}

@-webkit-keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@-webkit-keyframes change {
0%, 12.66%, 100% {transform:translate3d(0,0,0);}
16.66%, 29.32% {transform:translate3d(0,-25%,0);}
33.32%,45.98% {transform:translate3d(0,-50%,0);}
49.98%,62.64% {transform:translate3d(0,-75%,0);}
66.64%,79.3% {transform:translate3d(0,-50%,0);}
83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@-o-keyframes change {
0%, 12.66%, 100% {transform:translate3d(0,0,0);}
16.66%, 29.32% {transform:translate3d(0,-25%,0);}
33.32%,45.98% {transform:translate3d(0,-50%,0);}
49.98%,62.64% {transform:translate3d(0,-75%,0);}
66.64%,79.3% {transform:translate3d(0,-50%,0);}
83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@-moz-keyframes change {
0%, 12.66%, 100% {transform:translate3d(0,0,0);}
16.66%, 29.32% {transform:translate3d(0,-25%,0);}
33.32%,45.98% {transform:translate3d(0,-50%,0);}
49.98%,62.64% {transform:translate3d(0,-75%,0);}
66.64%,79.3% {transform:translate3d(0,-50%,0);}
83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@keyframes change {
0%, 12.66%, 100% {transform:translate3d(0,0,0);}
16.66%, 29.32% {transform:translate3d(0,-25%,0);}
33.32%,45.98% {transform:translate3d(0,-50%,0);}
49.98%,62.64% {transform:translate3d(0,-75%,0);}
66.64%,79.3% {transform:translate3d(0,-50%,0);}
83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.kenburns-top:hover {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}

 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.tracking-in-expand:hover{animation:tracking-in-expand 2s cubic-bezier(.215,.61,.355,1.000) both}
 @keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

 .kenburns-top-left{animation:kenburns-top-left 5s ease-out both}
@keyframes kenburns-top-left{0%{transform:scale(1) translate(0,0);transform-origin:16% 16%}100%{transform:scale(1.25) translate(-20px,-15px);transform-origin:top left}}

.puff-in-center{-webkit-animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both;animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both}
 @-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.heartbeat:hover{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}
 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

 .scale-in-top{-webkit-animation:scale-in-top 3s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-top 3s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes scale-in-top{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:50% 0;transform-origin:50% 0;opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;opacity:1}}@keyframes scale-in-top{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:50% 0;transform-origin:50% 0;opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;opacity:1}}

@media screen and (min-width: 992px) 
{
  .mon-image {
    font-size: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Style pour les écrans plus petits */
@media screen and (max-width: 991px)
 {
  .mon-image {
    font-size: 18px;
    width: 100%;
    height: 350px;
    margin-left: 0;
    margin-right: 0;
  }
}
// Ici on s'occupe du bouton en fonction de la longueur de l'écran ceci pour les écrans larges 
 
@media screen and  (min-width: 992px) and  (min-height: 800px)
{
  .contactez_nous
  {
    color: white;
    position: absolute;
    top: 60%;
    left: 75%
  }
}
@media screen and  (max-width: 991px) and  (min-height: 800px)
{
  .contactez_nous
  {
    color: white;
    position: absolute;
    top: 30%;
    left: 75%
  }
}
@media screen and  (max-width: 820px) and  (min-height: 800px)
{
  .contactez_nous
  {
    color: white;
    position: absolute;
    top: 30%;
    left: 40%
  }
}



@media screen and  (max-width: 991px) and  (max-height: 800px)
{
  .contactez_nous
  {
    color: white;
    position: absolute;
    top: 30%;
    left: 25%
  }
}



// Ici on s'occupe du bouton en fonction de la largeur de l'écran 


/* Style pour les écrans plus petits */
/*@media screen and (max-width: 991px) and (max-height : 950px)
 {
  .contactez_nous
   {
    color: white;
    position: absolute;
    top: 30%;
    left: 40%
  }
}

@media screen and (max-width: 990px) and (min-width: 951px)
{
  .contactez_nous
  {
    color: white;
    position: absolute;
    top: 30%;
    left: 75%
  }
}

*/